<div class="w3-row content-container text-center" style="padding-top: 39px;">

</div>

<div class="w3-row-padding  w3-center " style="padding-top: 51px; position: relative;">
  <div>
    <p class="welcome-msg"> Welcome
      <span *ngIf="parent">{{parent.firstName}}</span>
    </p>

    <div class="w3-bar w3-border s24-bar">
      <!-- <span><a [routerLink]="['home']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white" style="white-space: nowrap;text-decoration: none;"><i
                        class="fa fa-home ">
                    </i></a></span> -->
      <span><a [routerLink]="['../students']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
          style="white-space: nowrap;text-decoration: none;">Students</a></span>
      <span><a [routerLink]="['../support']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
          style="white-space: nowrap;text-decoration: none;">Support</a></span>
      <span><a [routerLink]="['../user-profile']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
          style="white-space: nowrap;text-decoration: none;">Profile</a>
      </span>
      <span><a [routerLink]="['../history']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
          style="white-space: nowrap;text-decoration: none;">Order History</a>
      </span>
      <span><a [routerLink]="['../transaction-history']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
          style="white-space: nowrap;text-decoration: none;">Transactions</a>
      </span>
      <span *ngIf="schoolInfo?.processed && schoolInfo?.processed == true && isTopupEnabled == true"><a
          [routerLink]="['../top-up']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
          style="white-space: nowrap;text-decoration: none;">TopUp/Recharge</a>
      </span>
      <span *ngIf="schoolInfo?.canteen_status != 0"><a [routerLink]="['../ban-food']"
        class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
        style="white-space: nowrap;text-decoration: none;">Ban Food</a></span>
    </div>
  </div>
  <br />
  <div class="w3-quarter" *ngIf="schoolInfo?.canteen_status != 0">
    <div class="w3-card w3-container card-holder">
      <h3 class="w3-text-green">{{schoolShops?.canteenShopName}}</h3><br>
      <i class="fa fa-cutlery w3-margin-bottom w3-text-green icon-font"></i>
      <p></p>
      <p *ngIf="!disableOrders else canteenDisbled">
        <a [routerLink]="['../canteen']" class="w3-btn w3-green">Order Lunch
        </a>
      </p>
      <ng-template #canteenDisbled>
        <p>
          <a (click)="showOrderDisabledMessgae()" class="w3-btn w3-green">Order Lunch
          </a>
        </p>
      </ng-template>

    </div>
  </div>

  <div class="w3-quarter" *ngIf="schoolInfo?.uniform_status != 0">
    <div class="w3-card w3-container card-holder">
      <h3 class="w3-text-red">{{schoolShops?.uniformShopName}}</h3><br>
      <i class="fa fa-female w3-margin-bottom w3-text-red icon-font"></i>
      <p></p>
      <p *ngIf="!disableOrders else uniformDisbled">
        <a class="w3-btn w3-red" type="button" [routerLink]="['/uniformorder']">
          Order Uniform</a>
      </p>
      <ng-template #uniformDisbled>
        <p>
          <a (click)="showOrderDisabledMessgae()" class="w3-btn w3-red">Order Uniform
          </a>
        </p>
      </ng-template>
    </div>
  </div>

  <div class="w3-quarter" *ngIf="schoolInfo?.roster_status">
    <div class="w3-card w3-container card-holder">
      <h3 class="w3-text-purple">VOLUNTEER ROSTER</h3><br>
      <i class="fa fa-users w3-margin-bottom w3-text-purple icon-font"></i>
      <p></p>
      <p>
        <a [routerLink]="['../roster']" class="w3-btn w3-purple">Roster
        </a>
      </p>

    </div>
  </div>

  <div class="w3-quarter">
    <div class="w3-card w3-container card-holder" *ngIf="schoolInfo?.schoolid != 436">
      <h3 class="w3-text-blue">EVENTS</h3><br>
      <i class="fa fa-music w3-margin-bottom w3-text-blue icon-font"></i>
      <p></p>
      <p *ngIf="!disableOrders else eventDisbled">
        <a [routerLink]="['../events']" class="w3-btn w3-blue">Order Event
        </a>
      </p>
      <ng-template #eventDisbled>
        <p>
          <a (click)="showOrderDisabledMessgae()" class="w3-btn w3-blue">Order Event
          </a>
        </p>
      </ng-template>

    </div>
  </div>

</div>
