.content-container{
    display: block;
    height: 245px;
    width: 100%;
    position: absolute;
    background-color: #25476a;
    /* z-index: 0; */
}

.card-holder{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    background-color: white;
    min-height:200px; 
    margin: 10px;
    border-radius: 4px;
}

.icon-font{
    font-size:50px;
}

.welcome-msg{
    font-size: 24px;
    color: white;
}

