<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '0' }"></ngx-loading>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                <h6 class="w3-opacity">{{eventName}}</h6>


                <div *ngIf="event?.description != null">{{event?.description}}

                </div>

                <div class="w3-panel w3-red" id="alert11" style="display: none; padding: 20px;">
                    <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
                    <div class="noStudentSelected">
                        <h3>
                            <i class="fa fa-ban"></i> Select Student</h3>
                        <p>You must select at least one student.</p>
                        <br />
                    </div>
                </div>
                <br />
                <br />

                <button type="button" class="cart-btn w3-btn" (click)="showStudents()"><i class="fa fa-credit-card"></i>
                    &nbsp; Pay</button>

                <br /> <br />
                <div class="img-container" *ngIf="event?.images != null">
                    <img src='https://www.school24.net.au/images/events/{{event.images}}' alt="event"
                        class="w3-image s24-img-event" style="display: inline-block;"
                        onerror="this.src='https://www.school24.net.au/fps/images/picture_not_available.png'" />
                    <!-- <img src="https://www.school24.net.au/images/events/event.images" alt="event" class="w3-image s24-img-event" style="width: 49%;display: inline-block;"> -->
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showStudentList" class="w3-modal" style="display:block;">
        <div class="w3-modal-content">
            <header class="w3-container theme-color">
                <span (click)="hideStudents()" class="w3-closebtn w3-display-right">&times;</span>
                <h2>Select Student and Amount</h2>
            </header>
            <div class="w3-container p-0">
                <div class="w3-container">
                    <p></p>
                    <div *ngIf="students && students[0]; else noStudents">
                        <div *ngFor="let student of students" class="student-wrapper">
                            <div class="w3-row">
                                <div class="w3-col w3-half">
                                    <input class="w3-check" type="checkbox" name="{{student.firstName}}"
                                        value="{{student.studentId}}"
                                        (change)='selectStudents(student.studentId, $event)'>
                                        &nbsp;<span class="student-name">{{student.firstName}}</span>
                                </div>
                                <div class="w3-col w3-half">
                                    <input type="number" [(ngModel)]="student.donationAmount" *ngIf="student.isSelected"
                                        (keyup)="calculateTotal()" class="w3-input w3-border w3-round">
                                </div>

                            </div>

                        </div>
                        <div class="w3-row">
                            <div class="w3-col m12 w3-right total">
                                <b>Total Amount: ${{totalAmount}}</b>
                            </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-col m12 w3-center">
                                <button type="button" class="cart-btn w3-btn" (click)="makeDonation()"
                                    [disabled]="totalAmount <=0"><i class="fa fa-credit-card"></i>
                                    &nbsp; Pay</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <ng-template #noStudents>
                        <p>No active students</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<app-stripe *ngIf="showStripeModal" [paymentDetails]="stripePaymentData" (closeModal)="showStripeModal = false" (stripeCallback)="stripeCallback($event)"></app-stripe>
