.details{
    word-wrap: break-word;
    opacity: 0.8;
}

.zoomin:hover {
    transform: scale(1.5);
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease; 
  }
  
  .frame {
    height: 250px;
    overflow: hidden;
  }

  .min-width-td{
    min-width:105px;
  }
  .noti-count {
    position: absolute;
    right: 3px;
    text-align: center;
    width: 29px;
    color: #fff;
    top: 2px;
    height: 29px;
    background: #4CAF50;
    z-index: 111;
    line-height: 30px;
    border-radius: 50%;
}
.order-name {
    position: absolute;
    top: 11px;
    left: 0;
    font-size: 15px;
    font-weight: bold;
    z-index: 99;
    background: rgba(00,00,00,0.5);
    color: #fff;
    width: 100%;
    padding: 4px 20px 4px 10px;
    text-align: left;
}

.mealtype {
    background: #fd5e60;
    padding: 3px 5px;
    width: 100%;
    display: block;
    color: #fff;
    margin: 0 0 3px 0;
}