<div class="w3-container">
  <br/>
  <div class="w3-responsive">
    <table class="w3-table">
      <thead class="w3-green">
        <tr>
          <td>Order Id</td>
          <td>Order Date</td>
          <td>Delivery Date</td>
          <td>Student Name</td>
          <td>Student Class</td>
          <td>Order Comment</td>
        </tr>
      </thead>
      <tbody>
        <td>{{order?.orderId}}</td>
        <td class="min-width-td">{{order?.orderDate | date}}</td>
        <td class="min-width-td">{{order?.deliveryDate | date}}</td>
        <td class="min-width-td">{{order?.studentName}}</td>
        <td>{{order?.studentClass}}</td>
        <td>{{order?.orderComment}}</td>
      </tbody>
    </table>
  </div>
  <br>
  <div class="w3-container">
    <p *ngIf="orderItems?.length==0"> Details Not Available</p>
    <div *ngFor="let orderItem of orderItems" class="w3-third w3-padding-small">
      <div style="height:250px; position: relative;" class="frame" >
          <span class="noti-count">{{orderItem?.quantity}}</span>
          <div class="order-name">{{orderItem?.productName}}</div>
        <img class="zoomin" src='https://www.school24.net.au/fps/images/{{orderItem.productImage}}' style="width:100%;height:250px;"
          onerror="this.src='https://www.school24.net.au/fps/images/picture_not_available.png'" />
      </div>
      <div class="w3-text-white w3-padding-large details" style="height:120px; overflow:hidden; background-color: #f5f5f5 !important; ">
        <p style="overflow:hidden; color:#333;">
          <span class=""><strong>Order Type :</strong>  {{orderItem?.mealType}}</span>
          <strong *ngIf="orderItem.productOptions"><br/>Options: </strong>{{orderItem?.productOptions}}
        </p>
      </div>
    </div>
  </div>
  <p class="w3-center w3-large">
    <b>Total : {{order?.orderAmount | currency:currency:true:'1.2-4'}}</b>
  </p>
</div>