@media screen and (max-width:700px){
    .align-left {
        float: left;
    }
    .additional-info .w3-col.s5, .additional-info .w3-col.s7{
        width: 100% !important;
    }
    .checkout-wrapper{
        padding-top: 55px !important;
    }
    .checkout-wrapper header .float-left, .checkout-wrapper header .float-right{
        float: none !important;
        margin: 0 0 5px;
        font-size: 14px;
    }
    header.w3-container{
        padding:4px 8px;
    }
}

@media screen and (min-width:700px){
    .align-right {
        float: right;
    }
}
.checkout-wrapper{
    padding: 100px 20px 30px;
}
.w3-content.w3-panel{
    background: #ffffff;
}
.total{
    font-size: 17px;
    margin: 0 0 10px;
    padding: 12px 0;
}
.w3-border {
    border: 1px solid #c9c9c9!important;
}
.cancel-btn{
    width: 170px;
}
textarea.w3-input {
    height: 60px;
}

.w3-btn{
  margin: 5px;
}