<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '0' }"></ngx-loading>
<div class="w3-container checkout-wrapper">
  <div class="w3-content w3-panel w3-border">
    <header class="w3-container theme-color clearfix" *ngIf="orderType!='event'">
      <h4 class="w3-left float-left">#Order Confirmation </h4>
      <h4 class="align-right align-left float-right">{{dateHeader}} : {{showDate | date}}</h4>
    </header>
    <header class="w3-container theme-color clearfix" *ngIf="orderType=='event'">
      <h4 class="w3-left float-left">#Order Confirmation </h4>
      <h4 class="w3-center float-left" *ngIf="orderType=='event'"> {{eventName}}</h4>
      <h4 class="align-right align-left float-right">{{dateHeader}} : {{showDate | date}}</h4>
    </header>
    <div class="w3-padding-small clearfix">
      <!-- <div *ngIf="orderType!='event'">
            <header class="w3-container w3-theme" style="margin:0px;">
                <div style="padding-bottom :32px;">
                    <span class="w3-half">
                        <h4 class="w3-left">#Order Confirmation</h4>
                    </span>
                    <span class="w3-half">
                        <h4 class="w3-right">{{dateHeader}} : {{showDate | date}}</h4>
                    </span>
                </div>
            </header>
        </div> -->
      <!-- <div *ngIf="orderType=='event'">
            <header class="w3-container w3-theme" style="margin:0px;">
                <div style="padding-bottom :32px;">
                    <span class="w3-third ">
                        <h4 class="w3-left">#Order Confirmation</h4>
                    </span>
                    <span class="w3-third">
                        <h4 class="w3-center">{{eventName}}</h4>
                    </span>
                    <span class="w3-third">
                        <h4 class="w3-right">{{dateHeader}} : {{showDate | date}}</h4>
                    </span>
                </div>
            </header>
        </div> -->
      <div class="body-scroll">
        <div *ngFor="let studentCart of cartItems" class="students">
          <h3 class="w3-margin-bottom" style="font-size: 17px;"><i class="fa fa-user"></i>
            {{studentCart.studentName}}</h3>
          <div class="w3-responsive">
            <table class="checkout_table">
              <thead>
                <tr>
                  <th *ngIf="orderType!='event'" style="text-align:left;">Meal Type</th>
                  <th style="text-align:left;">Product</th>
                  <th>Quantity</th>
                  <th>Options</th>
                  <th *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">
                    Price</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <!-- <table class="w3-table w3-striped w3-bordered w3-border">
                        <thead class="w3-theme">
                            <tr>
                                <td *ngIf="orderType!='event'">Meal Type</td>
                                <td>Product</td>
                                <td>Quantity</td>
                                <td>Options</td>
                                <td *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">Price</td>
                                <td>Remove</td>
                            </tr>
                        </thead> -->
              <tbody>
                <tr *ngFor="let product of studentCart?.canteenShopcarts">
                  <td *ngIf="orderType!='event'">{{product.mealName}}</td>
                  <td>{{product.productName}}
                    <span *ngIf="product.isProductNotAvailable" class="w3-text-red">
                      <b>Not Available</b>
                    </span>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td class="b-0 p-0" style="width: 60%;text-align: right;">
                          <span class="value">{{product.productQuantity}}</span>
                        </td>
                        <td style="width: 40%;min-width: 40px;" class="reduce-quantity b-0">
                          <span *ngIf="product?.productQuantity>1" class="reduce-btn">
                            <button type="button" class="custom-btn" rel="tooltip" title="Click here to reduce Quantity"
                              (click)="deleteCartItem(product.id,true,'QUANTITY')">
                              <i class="fa fa-long-arrow-down"></i>
                            </button>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td class="text-center">
                    <span *ngFor="let option of product?.options">{{option.optionName1}},</span>
                  </td>
                  <td class="text-center"
                    *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">
                    {{product.productPrice | currency:currency:true:'1.2-4'}}</td>
                  <td class="text-center">
                    <button class="custom-btn" rel="tooltip" title="Click here to delete Item"
                      (click)="deleteCartItem(product.id,true,'PRODUCT')">
                      <i class="fa fa-close"></i>
                    </button>
                  </td>
                </tr>
                <!-- <tr *ngFor="let product of studentCart?.canteenShopcarts">
                                <td *ngIf="orderType!='event'">{{product.mealName}}</td>
                                <td>{{product.productName}}
                                    <span *ngIf="product.isProductNotAvailable" class="w3-text-red">
                                        <b>Not Available</b>
                                    </span>
                                </td>
                                <td>{{product.productQuantity}}</td>
                                <td class="fixed-col-width">
                                    <span *ngFor="let option of product?.options">{{option.optionName1}},</span>
                                </td>
                                <td *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">{{product.productPrice | currency:currency:true:'1.2-4'}}</td>
                                <td>
                                    <span *ngIf="product.productQuantity>1">
                                        <button class="w3-button w3-circle" rel="tooltip" title="Reduce quantity" (click)="deleteCartItem(product.id,true,'QUANTITY')">
                                            <i class="fa fa-minus" style="color: red;"></i>
                                        </button>
                                    </span>
                                    <button class="w3-button w3-circle" rel="tooltip" title="Remove" (click)="deleteCartItem(product.id,true,'PRODUCT')">
                                        <i class="fa fa-remove" style="color: red;"></i>
                                    </button>
                                </td>
                            </tr> -->
                <tr *ngIf="checkBagCharges() && eventType != 'CANTEEN'">
                  <td *ngIf="orderType!='event'"></td>
                  <td>
                    <span *ngIf="schoolInfo?.bag_policy then schoolBagName else paperBag"></span>
                    <ng-template #schoolBagName>
                      {{schoolInfo.bag_policy}}
                    </ng-template>
                    <ng-template #paperBag>
                      Paper Bag
                    </ng-template>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td class="b-0 p-0" style="width: 60%;text-align: right;">
                          <span class="value"> {{studentCart.paperBags}}</span>
                        </td>
                        <td style="width: 40%;min-width: 40px;" class="reduce-quantity b-0">

                        </td>
                      </tr>
                    </table>
                  </td>
                  <td></td>
                  <td class="text-center">
                    <select *ngIf="schoolInfo.allow_recycle==1" class="form-control"
                      (change)="changeBagType($event.target.value, studentCart)">
                      <option value="buy">
                        {{ studentCart.bagsTotalPrice | currency:currency:true:'1.2-4' }}
                      </option>
                      <option value="reuseable">Use reusable bag</option>
                    </select>
                    <span *ngIf="schoolInfo.allow_recycle != 1">
                      {{ studentCart.bagsTotalPrice | currency:currency:true:'1.2-4' }}
                    </span>
                  </td>
                  <td></td>
                </tr>

                <tr *ngIf="checkBagCanteenEventCharges() && orderType == 'event' && eventType == 'CANTEEN'">
                  <td>{{bagName}}</td>
                  <td></td>
                  <td></td>
                  <td>
                    <select>
                      <option value="buy"> {{ bagPrice | currency:currency:true:'1.2-4' }}
                      </option>
                      <option value="reusable">Use reusable bag</option>
                    </select>
                    <!--*ngIf="schoolInfo.allow_recycle?==1"-->

                    <!-- <div *ngIf="schoolInfo.allow_recycle?==true">
                                        
                                    </div> -->

                  </td>
                  <td></td>
                </tr>
                <tr *ngIf="checkServiceFee() && this.schoolInfo.canteenOrderServiceFee">
                  <td *ngIf="orderType!='event'"></td>
                  <td>
                    Service Fee
                  </td>
                  <td></td>
                  <td *ngIf="(this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1))">
                  </td>
                  <td>{{  this.schoolInfo.canteenOrderServiceFee | currency:currency:true:'1.2-4' }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="w3-row">
            <div class="w3-half w3-padding-small"
              *ngIf="schoolInfo?.allowprocearly && ((orderType == 'event' && eventType != 'SCHOOL') || orderType=='canteen')">
              <p>Early Meal Process :</p>
              <select class="w3-select" name="option" [(ngModel)]="studentCart.reason">
                <option value="Process as normal">Process as normal</option>
                <option value="Process early-PSSA Sport">Process early - PSSA Sport</option>
                <option value="Process early-Excursion">Process early - Excursion</option>
                <option value="Process early-Rehearsal">Process early - Rehearsal</option>
                <option value="Process early-Band">Process early - Band</option>
                <option value="Process early-Other activities">Process early - Other activities</option>
              </select>
              <p>Select one option if want your kids lunch processed earlier.</p>
            </div>
            <div *ngIf="schoolInfo?.allowcomments" class="w3-col l7 m7 s12 w3-padding-ver-12">
              <label>Additional Instructions :</label>
              <textarea (keypress)="keyPressAlphaNumeric($event)" maxlength="25" class="w3-input w3-border"
                [(ngModel)]="studentCart.comment" appBlockCopyPaste
                placeholder="Write additional instructions 25 characters. This text will be printed on the lunch label.">
                </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="grand-total w3-col s12 text-center">
        <div class="total w3-margin-0" style="text-align: center">
          <b>Total Amount to Pay: {{ cartTotal | currency:currency:true:'1.2-4'}} </b>
        </div>
        <div class="w3-center" *ngIf="cartItems.length > 0" style="padding: 10px 0 0;">
          <div class="w3-row">
            <div class="w3-col m12 l12 s12">

              <!-- Using balance -->
              <ng-container *ngIf="isCartTotalLessThanCredit()">
                <!--canteen event-->
                <ng-container *ngIf="isCanteenEventBalancePaymentPossible()">
                  <button type="button" class="w3-btn w3-margin-bottom btn save-btn" style="width:250px;"
                    (click)="pay()" [disabled]="payButtonClicked || emptyFeePlan"><i class="fa fa-money"></i> Pay Using
                    Balance</button>
                </ng-container>
                <!--school event-->
                <ng-container *ngIf="isSchoolEventBalancePaymentPossible()">
                  <button type="button" class="w3-btn w3-margin-bottom btn save-btn" style="width:250px;"
                    (click)="payByBalanceSchoolEvent(cartTotal)" [disabled]="payButtonClicked || emptyFeePlan"><i
                      class="fa fa-money"></i> Pay Using
                    Balance</button>
                </ng-container>
                <!-- <ng-template #canteenPayusingBalance> -->
                <ng-container *ngIf="isCanteenBalancePaymentPossible()">
                  <button type="button" class="w3-btn w3-margin-bottom btn save-btn" style="width:250px;"
                    (click)="pay()" [disabled]="payButtonClicked || emptyFeePlan"><i class="fa fa-money"></i> Pay Using
                    Balance</button>
                </ng-container>
              </ng-container>

              <!-- Pay using card and Balance - Mix -->
              <ng-container *ngIf="isBalancePlusCardPaymentPossible()">
                <button type="button" class="w3-btn w3-margin-bottom btn save-btn" style="width:250px;"
                  (click)="payByBalancePlusCard()" [disabled]="payButtonClicked || emptyFeePlan"><i
                    class="fa fa-money"></i> Pay Using
                  Balance + Card</button>
              </ng-container>


              <!-- Pay using card -->
              <button type="button" class="w3-btn w3-margin-bottom btn save-btn" style="width:250px"
                (click)="checkAndPlaceOrder(cartTotal)" [disabled]="payButtonClicked || emptyFeePlan"><i
                  class="fa fa-credit-card"></i> Pay by Card</button>


              <!-- Pay At pick up -->
              <button (click)="payAtPickup()" type="button" class="w3-btn w3-margin-bottom btn save-btn"
                *ngIf="orderType=='canteen' && schoolInfo?.isPayAtPickUpAvailable && schoolInfo?.isPayAtPickUpAvailable == 1"
                style="width:250px" [disabled]="payButtonClicked || emptyFeePlan"><i class="fa fa-cutlery"></i> Pay at
                Pick
                Up</button>

            </div>
          </div>
          <!-- <button *ngIf="orderType == 'event' && eventType == 'SCHOOL'" type="button"
            class="w3-btn w3-margin-bottom btn save-btn" style="width:250px;" (click)="stripePay(cartTotal)"
            [disabled]="payButtonClicked || emptyFeePlan"><i class="fa fa-credit-card"></i> Pay by Credit
            Card</button> -->



          <p *ngIf="!emptyFeePlan" class="mb-0"> Note: A surcharge of 1.5% + 0.30 cents applies to all credit
            cards</p>
          <p *ngIf="emptyFeePlan" class="mb-0">You haven't selected a valid fee plan please
            <a [routerLink]="['../home']" style="color:blue;">click here</a> to update your fee plan.</p>
        </div>
        <div class="w3-center" *ngIf="cartItems.length == 0">
          <h2>{{retrievingMsg}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<app-stripe *ngIf="showStripeModal" [paymentDetails]="stripePaymentData" [paymentIntent] ="paymentIntent" [customerStripeDetails]="customerStripeDetails" (closeModal)="showStripeModal = false"
  (stripeCallback)="stripeCallback($event)"></app-stripe>
