.s24-bar {
    display: inline-block;
    width: auto;
    overflow: hidden;
  }

  .w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
  }

  @media only screen and (max-width: 600px) {
    .s24-bar {
      overflow-x: scroll;
      display: flex;
    }
  }


  .content-container{
    display: block;
    height: 245px;
    width: 100%;
    position: absolute;
    background-color: #25476a;
    /* z-index: 0; */
}