.w3-theme-l5 {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-l4 {color:#000 !important; background-color:#d8dcf1 !important}
.w3-theme-l3 {color:#000 !important; background-color:#b1b8e3 !important}
.w3-theme-l2 {color:#fff !important; background-color:#8995d6 !important}
.w3-theme-l1 {color:#fff !important; background-color:#6271c8 !important}
.w3-theme-d1 {color:#fff !important; background-color:#3949a3 !important}
.w3-theme-d2 {color:#fff !important; background-color:#334191 !important}
.w3-theme-d3 {color:#fff !important; background-color:#2d397f !important}
.w3-theme-d4 {color:#fff !important; background-color:#26316d !important}
.w3-theme-d5 {color:#fff !important; background-color:#20295b !important}
.w3-theme-d6 {color:#fff !important; background-color:#16145f !important}

.w3-theme-light {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-dark {color:#fff !important; background-color:#20295b !important}
.w3-theme-action {color:#fff !important; background-color:#20295b !important}

.w3-theme {color:#fff !important; background-color:#3f51b5 !important}
.w3-text-theme {color:#3f51b5 !important}
.w3-border-theme {border-color:#3f51b5 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#3f51b5 !important}
.w3-hover-text-theme:hover {color:#3f51b5 !important}
.w3-hover-border-theme:hover {border-color:#3f51b5 !important}