:host {
  display: block;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}
/*css for datepicker input field(IE bug fix)*/
.mat-form-field {
  width: 160px;
}

.bgimg {
  height: 100vh;
  width:100%;
  background-position: center;
  background-size: cover;
}

.padding{
  margin-top: 25%;
}

.card-margin{
  margin-top: 00px;
  margin-left: 10%;
  margin-right: 10%;
}


.button-padding{
  padding-bottom: 10px;
}
.card{
  border: none;
  height: 200px;
}

.w3-container {
  padding:8px; 
}

ul {
  list-style-type: none;
  padding: 0 0 0 0px;
}
.btn{
  width: 100%;
}

.w3-card{
    margin: 120px auto 0;
    float: left;
    width: 100%;
    border: 0;
}
.w3-card .card-inner-wrapper{
  margin: auto;
  width: 60%;
}
.card-inner-wrapper .w3-container{
  padding: 20px 15px;
}
.theme-color-two{
  background-color: #f1af1a;
}
.events{
  border-left:2px solid #d4d0d0;
  margin-left: 15px;
}
.calender, .events{
  padding: 10px 0;
}
.message{
  font-size: 15px;
  margin-bottom: 0;
  color:red;
}
@media screen and (max-width:1300px){
  .w3-card .card-inner-wrapper{
    width: 90%;
  }
  }
  @media screen and (max-width:600px){
    .w3-card{
      margin: 80px auto 0;
    }
    .w3-card .card-inner-wrapper{
      max-height: 470px;
      overflow-y: auto;
    }
    .events{
      padding-left: 0;
      margin: 0;
      border: 0;
    }
    .card-inner-wrapper .w3-container{
      padding: 0px 15px 20px;
  }
    .events .w3-container {
      padding: 0;
  }
    }
    