<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="bgimg"
    [style.background-image]="'url(https://www.school24.net.au/images/newversion/parent/' + bgImageUrl + ')'">
    <update-parent-plan *ngIf="schoolInfo?.fee_model == 2 && parent?.parentPlan == 0"></update-parent-plan>
   <div class="outer-wrapper clearfix">
    <div *ngIf="schoolInfo?.fee_model == 1 || parent?.parentPlan != 0" class="w3-card">
        <div class="card-inner-wrapper w3-white">
        <header>
            <div class="w3-row">
                <div class="w3-col w3-hide-medium s12">
                    <ul class="w3-navbar theme-color-two">
                        <div class="w3-dropdown-hover">
                            <button class="w3-btn w3-large theme-color-two">Select Date</button>
                        </div>
                    </ul>
                </div>
            </div>
        </header>
        <!-- <div *ngIf="dailyOrder" class="w3-container"> -->
        <div class="w3-container" style="margin-bottom: 200px;">
            <div class="row">
                    <div *ngIf="parent.isStudentClassSetupRequired">
                            <p class="message m-0">
                                <i class="fa fa-ban"></i> Class Setup Required! </p>
                            <p class="m-0">Please make sure you setup the class for each student before you start ordering.
                                    <a [routerLink]="['../students']" style="color:blue;">Do it now?</a> </p>
                            
                        </div>
            </div>
            <div class="row clearfix" style="margin: 20px 0 0;">
                <div class="w3-col m4 l4 s12 calender">                    
                    <div class="clearfix">
                            <span class="s12">
                                <my-date-picker name="mydate" [options]="dateOptions" [(ngModel)]="orderDate"
                                    placeholder="Select a date" readonly></my-date-picker>
                            </span>
                            <div class="s12" style="margin:6px 0 0;">
                                <button type="button" class="w3-btn btn theme-color" (click)="startOrder()"
                                    [disabled]="orderDate==undefined">Start Ordering</button>
                            </div>
                    </div>
                </div>
                <div class="w3-col m4 l4 s12 w3-padding">                    
                  <div class="clearfix">
                          <h3>Daily Cut-off</h3>
                          <p><strong>Cut-off time: <font color="red">{{dailyCutOffTimeStr}}</font></strong></p>
                          <p *ngIf="schoolInfo.cut_days_before == 0"><strong>Cut-off day: <font color=red>Same</font> day</strong></p>
                          <p *ngIf="schoolInfo.cut_days_before == 1"><strong>Cut-off day: <font color=red>{{schoolInfo.cut_days_before}}</font> day before </strong></p>
                          <p *ngIf="schoolInfo.cut_days_before != 0 && schoolInfo.cut_days_before != 1">
                             <strong>Cut-off day: <font color=red>{{schoolInfo.cut_days_before}}</font> days before </strong>
                          </p>
                  </div>
              </div>
                <!-- <div class="w3-col m7 l7 s12 events">                       
                            <event></event>
                    </div> -->

                <!-- <div class="w3-col w3-quarter s12 w3-hide-medium w3-hide-large w3-border">                 
                        <event></event>
                </div> -->

            </div>
        </div>
    </div>
</div>
        <!-- <div *ngIf="eventOrder" class="w3-container">
            <event></event>
        </div> -->
    </div>
</div>