<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="w3-container" style="padding-top:56px;">
  <div class=" ">
    <div class="">
      <div class="">
        <div class="w3-row">
          <div class="w3-col m9">
            <h5 class="w3-center">Ban canteen product for students</h5>
          </div>
          <div class="w3-col m3">
            <input type="text" placeholder="Search Product" class="w3-input w3-border w3-right" (input)="onSearchChange($event.target.value)">
          </div>
        </div>
        <br/>

  

        
        <div class="w3-row">
          <div class="w3-card-2 w3-round w3-white s12 m3 l3 w3-col" *ngFor="let product of allProduct; let i = index" 
            style="height: 337px; margin-bottom: 5px; overflow-y: scroll;">
              <div class="w3-container w3-padding ">
                <div class="w3-row">
                    <div class="w3-col s3 m3">
                        <!-- <img src="https://www.school24.net.au/canteenorder/assets/img/stu_avatar.png"
                          class="w3-bar-item w3-circle order-histroy-student-image">
                           -->
                          <img src='https://www.school24.net.au/fps/images/{{product.productImageURL}}' class="w3-bar-item w3-circle order-histroy-student-image"
                          style="width:60px;height:60px;"
                          onerror="this.src='https://www.school24.net.au/fps/images/picture_not_available.png'" />
            
                      </div>
                      <div class="w3-col s9 m9">
                          <h5>{{product.productName}}</h5>
                          <h6>{{product.productPrice | currency:currency:true:'1.2-4' }}</h6>
                      </div>
                      
                </div>
                <hr/>
                <div class="w3-row">
                  <p>Banned Students</p>
                  <div *ngIf="students && students.length > 0">
                      <ng-container *ngFor="let student of students">
                      <span *ngIf="product.studentIds.indexOf(student.studentId) !== -1">
                        <button  class="w3-btn w3-green w3-border w3-round" (click)="removeBannedStudent(product, student.studentId, i)">
                          {{student.firstName}}
                          <i class="fa fa-times" style="cursor: pointer;"></i>
                        </button>
                      </span>
                    </ng-container>
                    </div>
                </div>

                <hr/>
                <div class="w3-row">
                    <p>Ban Student</p>
                    <div *ngIf="students && students.length > 0">
                        <span *ngFor="let student of students" class="student-wrapper">
                          <span *ngIf="product.studentIds.indexOf(student.studentId) == -1">
                              <button  class="w3-btn w3-red w3-border w3-round"  (click) = "banSingleStudent(product, student.studentId, i)">
                                  {{student.firstName}}
                                  <i class="fa fa-ban" ></i>
                              </button>
      
                          </span>
                        </span>
                      </div>
                </div>

              </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>