<div class="w3-responsive">
  <table class="w3-table-all" style="margin-top:10px;margin-bottom:10px;">
    <caption class="w3-grey">
      <span class="w3-large">{{optionSubGroup?.OptionSubGroupName}}</span>
      <!--(Select
            <span *ngIf="optionSubGroup?.Required"> atleast one option </span>
            <span *ngIf="optionSubGroup?.Max_Items>0">and a maximum of {{maxSelect}}</span>
            <span *ngIf="optionSubGroup?.Max_Items==1"> option</span>
            <span *ngIf="optionSubGroup?.Max_Items>1"> options</span>
            <span>)</span>-->
    </caption>
    <tr *ngIf="!validOptions" class="w3-text-red">
      <td colspan="3">*Select atleast one option</td>
    </tr>
    <tr *ngFor="let option of optionSubGroup?.options">
      <td style="width:60px">
        <input class="w3-check w3-radio" type="{{option?.OPT_Name5}}" value="{{option?.OPT_ID}}"
          name="{{optionSubGroup.OptionSubGroupName ? optionSubGroup.OptionSubGroupName : 'default'}}"
          (change)="selectOption(option.OPT_ID,$event,optionSubGroup.OptionSubGroupName)" style="top:0px;" required>
      </td>
      <td
        *ngIf="option?.OPT_PriceAdd>0 && (this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1))"
        style="width:80px;">{{option?.OPT_PriceAdd | currency:currency:true:'1.2-4' }}</td>
      <td *ngIf="option?.OPT_PriceAdd==0" style="width:80px;"></td>
      <td class="w3-left" style="width:200px;">
        {{option?.OPT_Name1}}
      </td>
    </tr>
  </table>
</div>
