<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-container">
  <div class="login-card-wrapper">
    <div class="w3-card login-card">
      <div class="w3-row display-flex">
        <div class="w3-col l7 hide-mobile">
          <div class="login-illustration">
            <img src="https://www.school24.net.au/assets/img/login-illustration.svg" alt="test">
          </div>
        </div>
        <div class="w3-col l5 m12">
          <div class="form-container">
            <div class="login-logo">
              <img src="https://www.school24.net.au/canteenorder/assets/school24_logo.png" alt="logo">
            </div>
            <form class="w3-padding-small" role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">

              <div class="w3-group w3-margin-bottom">
                <div class="input-group-prepend">
                  <i class="fa fa-envelope"></i>
                </div>
                <input class="input-field" type="email" placeholder="Email or Username" formControlName="username"
                  autofocus>
              </div>
              <div class="invalid-feedback w3-text-red" style="display: block;"
                *ngIf="forgotPasswordForm.controls.username.invalid && (forgotPasswordForm.controls.username.dirty || forgotPasswordForm.controls.username.touched)">
                <span *ngIf="forgotPasswordForm.get('username').hasError('required')">
                  Please Enter Email address
                </span>
              </div>
              <div *ngIf="invalidEmail" class="w3-text-red">
                Email does not exist in the system. Please enter correct Email.
              </div>

              <div class="w3-section">
                <button class="w3-btn w3-green w3-round" type="submit">
                  <strong>Reset Password</strong>
                </button>
              </div>
              <a (click)="hideForgotPassword()" class="w3-right" style="color: blue;
                    font-size: 12px;padding-right: 28px;cursor: pointer;">Sign in</a>
                    
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
