<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>


<div class="w3-container">
  <div class="login-card-wrapper">
    <div class="w3-card login-card">
      <div class="w3-row display-flex">
        <div class="w3-col l7 hide-mobile">
          <div class="login-illustration">
            <img src="https://www.school24.net.au/assets/img/login-illustration.svg" alt="test">
          </div>
        </div>
        <div class="w3-col l5 m12">
          <div class="form-container">
            <div class="login-logo">
              <img src="https://www.school24.net.au/canteenorder/assets/school24_logo.png" alt="logo">
            </div>

            <form role="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

              <div class="w3-group w3-margin-bottom">
                <div class="input-group-prepend">
                  <i class="fa fa-key"></i>
                </div>
                <input type="password" id="New-Password" class="input-field" formControlName="password"
                  placeholder="New Password" minlength=8 autofocus>
              </div>
              <div class="invalid-feedback w3-text-red " style="display: block;"
                *ngIf="resetPasswordForm.controls.password.invalid && (resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched)">
                <span class="w3-text-red" *ngIf="resetPasswordForm.controls.password.hasError('required')">Password is
                  required.</span>
                <span class="w3-text-red" *ngIf="resetPasswordForm.controls.password.hasError('minlength')">
                  Password should be atleast 8 characters
                </span>
              </div>

              <div class="w3-group w3-margin-bottom">
                <div class="input-group-prepend">
                  <i class="fa fa-key"></i>
                </div>
                <input type="password" id="Repeat New Password" class="input-field" placeholder="Repeat New Password"
                  type="password" formControlName="newPasswordRepeat" minlength=8>
              </div>
              <div class="invalid-feedback w3-text-red" style="display: block;"
                *ngIf="resetPasswordForm.controls.newPasswordRepeat.invalid && (resetPasswordForm.controls.newPasswordRepeat.dirty || resetPasswordForm.controls.newPasswordRepeat.touched)">
                <span class="w3-text-red" *ngIf="resetPasswordForm.controls.newPasswordRepeat.hasError('required')">New
                  Password is
                  required.</span>
                <span class="w3-text-red" *ngIf="resetPasswordForm.controls.newPasswordRepeat.hasError('minlength')">
                  Password should be atleast 8 characters
                </span>
              </div>
              <div class="w3-text-red" *ngIf="passwordsDoNotMatch" class="w3-text-red">
                Passwords do not match.
              </div>
              <div class="input-container">
                <span>
                  <button type="submit" class="w3-btn w3-round w3-green">Reset Password</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
