<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '0' }"></ngx-loading>
<nav *ngIf="cartMode =='CART'" class="w3-sidenav w3-card-2  w3-top w3-xlarge w3-animate-right sidenav">
  <div class="w3-card w3-white cart shopping-cart">
    <header class="w3-container cart_header theme-color">
      <h4 class="w3-left">
        <span class="icons"> <i class="fa fa-shopping-cart"></i></span>
        Cart
      </h4>
      <a href="javascript:void(0)" (click)="hideCartBarComponent()" class="w3-closenav w3-right"
        style="padding: 7px 10px; color: white;">
        <i class="fa fa-close"></i>
      </a>
    </header>
    <div class="w3-container item-wrapper">
      <div class="w3-responsive">
        <div *ngIf="!(basketItems.length > 0) && !isLoading">
          <h2 class="w3-center message">Your cart is empty.</h2>
        </div>
        <table class="checkout_table">
          <thead>
            <tr>
              <th class="text-left" style="width:60%">Product Information</th>
              <th class="text-center" style="width:15%">Quantity</th>
              <th class="text-center" style="width:20%">Price</th>
              <th style="width:5%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let basketItem of basketItems" class="item-list">
              <td style="width:60%">
                <div class="item-name">{{basketItem.name}}</div>
                <div class="clearfix">
                  <span class="label" *ngIf="basketItem.color">Color :</span> <span
                    class="value float-left">{{basketItem.color}}</span>
                </div>
                <div class="clearfix">
                  <span class="label" *ngIf="basketItem.size">Size :</span> <span
                    class="value float-left">{{basketItem.size}}</span>
                </div>
                
                <div class="clearfix" *ngIf="basketItem.isUniformPack == 1">
                    <div *ngFor="let product of basketItem.uniformPackItemProducts">
                      <div class="clearfix">
                        <span class="label" >{{product.quantity}}X {{product.name}}</span> 
                        <span class="label" *ngIf="product.size || product.color">:</span> <span
                          class="value float-left"> {{product.size}}</span>
                          <span class="label" *ngIf="product.size && product.color">,</span>
                           <span class="value float-left"> {{product.color}}</span>
                      </div>
                    </div>
                </div>
              </td>
              <td class="text-center" style="width:15%">
                <table>
                  <tr>
                    <td class="b-0 p-0" style="width: 60%;text-align: right;">
                      <span class="value">{{basketItem.quantity}}</span>
                    </td>
                    <td style="width: 40%;min-width: 40px;" class="reduce-quantity b-0">
                      <span class="reduce-btn">
                        <button *ngIf="basketItem?.quantity>1" type="button" class="custom-btn" rel="tooltip"
                          title="Click here to reduce Quantity." (click)="deleteCartItem(basketItem,true,'QUANTITY')">
                          <img src="https://www.school24.net.au/uniformorder/assets/down-arrow.png" width="12">
                        </button>
                      </span>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="text-center" style="width:20%">
                <span class="value">{{basketItem.price * basketItem.quantity | currency: currency:true:'1.2-4'}}</span>
              </td>
              <td class="text-right" style="width:5%">
                <button type="button" class="custom-btn" rel="tooltip" title="Click here to delete Item"
                  (click)="deleteCartItem(basketItem,true,'PRODUCT')">
                  <img src="https://www.school24.net.au/uniformorder/assets/cancel.png" width="13">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="(basketItems?.length > 0)" class="cart-footer">
      <div class="total">
        <b>Grand Total : {{cartTotal | currency: currency :true:'1.2-4'}}</b>
      </div>

      <div class="clearfix">
        <button type="button" class="w3-btn w3-margin-bottom  btn float-left cancel-btn"
          (click)="deleteCartItem(basketItems,true,'CART')">
          <i class="fa fa-trash-o"></i> Empty Cart
        </button>
        <button type="button" class="w3-btn w3-margin-bottom btn float-right save-btn theme-color" (click)="checkout()">
          <i class="fa fa-check-square-o"></i> Proceed to Checkout
        </button>
      </div>
    </div>

  </div>
</nav>
<div *ngIf="cartMode == 'CHECKOUT'">

  <div *ngIf="!(basketItems?.length > 0) && !isLoading">
    <h2 class="w3-center">Your cart is empty</h2>
  </div>
  <div class="w3-responsive">
    <table class="checkout_table">
      <thead>
        <tr>
          <th class="text-left" style="width:60%">Product Information</th>
          <th class="text-center" style="width:15%">Quantity</th>
          <th class="text-center" style="width:20%">Price</th>
          <th style="width:5%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let basketItem of basketItems">
          <td style="width:60%">
            <div class="item-name">{{basketItem.name}}</div>
            <div class="clearfix">
              <span class="label" *ngIf="basketItem.color">Color :</span> <span
                class="value float-left">{{basketItem.color}}</span>
            </div>
            <div class="clearfix">
              <span class="label" *ngIf="basketItem.size">Size :</span> <span
                class="value float-left">{{basketItem.size}}</span>
            </div>
            <div class="clearfix" *ngIf="basketItem.isUniformPack == 1">
              <div *ngFor="let product of basketItem.uniformPackItemProducts">
                <div class="clearfix">
                  <span class="label" >{{product.quantity}}X {{product.name}}</span> 
                  <span class="label" *ngIf="product.size || product.color">:</span> <span
                    class="value float-left"> {{product.size}}</span>
                    <span class="label" *ngIf="product.size && product.color">,</span>
                     <span class="value float-left"> {{product.color}}</span>
                </div>
              </div>
          </div>
          </td>
          <td class="text-center" style="width:15%">
            <table>
              <tr>
                <td class="b-0 p-0" style="width: 60%;text-align: right;">
                  <span class="value">{{basketItem.quantity}}</span>
                </td>
                <td style="width: 40%;min-width: 40px;" class="reduce-quantity b-0">
                  <span class="reduce-btn">
                    <button *ngIf="basketItem?.quantity>1" type="button" class="custom-btn" rel="tooltip"
                      title="Click here to reduce Quantity" (click)="deleteCartItem(basketItem,true,'QUANTITY')">
                      <img src='https://www.school24.net.au/uniformorder/assets/down-arrow.png' width="12">
                    </button>
                  </span>
                </td>
              </tr>
            </table>
          </td>
          <td class="text-center" style="width:20%">
            <span class="value">{{basketItem.price * basketItem.quantity | currency: currency:true:'1.2-4'}}</span>
          </td>
          <td class="text-right" style="width:5%">
            <button type="button" class="custom-btn" rel="tooltip" title="Remove"
              (click)="deleteCartItem(basketItem,true,'PRODUCT')" title="Click here to delete Item">
              <img src="https://www.school24.net.au/uniformorder/assets/cancel.png" width="13">
            </button>
          </td>
        </tr>
        <tr *ngIf="(basketItems?.length > 0) && selectedCollectionOption && selectedCollectionOption.fee > 0 ">
          <td class="text-left" style="width:60%"> <b>Delivery Fee:</b> </td>
          <td class="text-center" style="width:15%"></td>
          <td class="text-center" style="width:20%">
            <span class="value">{{selectedCollectionOption.fee  | currency: currency:true:'1.2-4'}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="(basketItems?.length > 0)" class="w3-row w3-col s12 additional-info">
    <div class="w3-col s12">

      <div class="w3-row">
        <label>Select Student:</label>
        <select class="w3-select w3-border" [(ngModel)]="selectedStudent" name="student" #student="ngModel" required
          (change)="onStudentChanged()">
          <option value=undefined disabled selected></option>
          <option [ngValue]="student" *ngFor="let student of students">{{student.firstName}}</option>
        </select>
        <span *ngIf="student.invalid" class="w3-text-red note">
          <span *ngIf="student.errors.required">
            <i><small>Please select a Student</small></i>
          </span>
        </span>
        <div *ngIf="students.length <= 0">
          <i>No student found! Please add student to place the order.
            <a target="_blank" href="https://www.school24.net.au/canteenorder/dashboard/students">Click here</a> to add
            student.
          </i>
        </div>
      </div>

      <div class="w3-row" *ngIf="isExternalRecipientRequired == 'true'">
        OR
        <input class="w3-input w3-border" (keyup)="onKey($event)" [(ngModel)]="recipient" name="recipient"
          placeholder="Enter Recipient name">
      </div>

      <div class="w3-row" *ngIf="(basketItems?.length > 0) && collectionOptions.length > 0">
        <label>Select Collection Option:</label>
        <select class="w3-select w3-border" [(ngModel)]="selectedCollectionOption" name="collectionOption" #collectionOption="ngModel" required
          (change)="onCollectionOptionChanged()">
          <option value=undefined disabled selected></option>
          <option [ngValue]="collectionOption" *ngFor="let collectionOption of collectionOptions">{{collectionOption.type}}</option>
        </select>
        <span *ngIf="collectionOption.invalid" class="w3-text-red note">
          <span *ngIf="collectionOption.errors.required">
            <i><small>Please select a collection Option</small></i>
          </span>
        </span>
        <div *ngIf="isHomeDelivery" class="w3-row" style="display: flex; flex-wrap: wrap;">
          <div class="collection-option-addr addr">
            <label>Address: </label><br>
            <input  (keyup)="onUniformAddressChanged()" [(ngModel)]="homeDeliveryAddress.address" name="address"
            placeholder="Address" required>
            <span *ngIf="!homeDeliveryAddress.address" class="w3-text-red note">
              <span >
                <i><small>Please enter your address</small></i>
              </span>
            </span>
          </div>

          <div class="collection-option-addr addr">
            <label>Suburb: </label><br>
            <input (keyup)="onUniformAddressChanged()" [(ngModel)]="homeDeliveryAddress.suburb" name="suburb"
          placeholder="Suburb" required>
          <span *ngIf="!homeDeliveryAddress.suburb" class="w3-text-red note">
            <span>
              <i><small>Please enter your suburb</small></i>
            </span>
          </span>
          </div>

          <div class="collection-option-addr addr">
            <label>State/Territory: </label><br>
            <input (keyup)="onUniformAddressChanged()" [(ngModel)]="homeDeliveryAddress.state" name="state"
          placeholder="State" required>
          <span *ngIf="!homeDeliveryAddress.state" class="w3-text-red note">
            <span >
              <i><small>Please enter your state</small></i>
            </span>
          </span>
          </div>

          <div class="collection-option-addr addr">
            <label>Post Code: </label><br>
            <input (keyup)="onUniformAddressChanged()" [(ngModel)]="homeDeliveryAddress.postCode" name="poste"
          placeholder="Poste" required>
          <span *ngIf="!homeDeliveryAddress.postCode" class="w3-text-red note">
            <span >
              <i><small>Please add your post code</small></i>
            </span>
          </span>
          </div>
        </div>
      </div>

    </div>

    <div class="w3-col s12">
      <label>Additional Instructions :</label>
      <textarea maxlength="50" [(ngModel)]="comments" placeholder="Enter a comment or additional instructions"
        (change)="onCommentUpdate()" class="w3-input w3-border">
            </textarea>
    </div>
  </div>
  <!-- <hr *ngIf="(basketItems?.length > 0)" style="border-top:1px solid gray"> -->
</div>
