.sidenav.w3-sidenav{
  z-index:40;
  width:35%;
  min-width:300px;
  right:0;
  background-color: #eeeef3;
}
.w3-sidenav a:hover {
  background-color: transparent;
}
.custom-btn{
  border:none;
  padding: 0;
  background: none;
  font-size: 14px;
  vertical-align: middle;
}
  .checkout_table{
    width:100%;
    margin: 0 0 20px;
  }
  .shopping-cart.cart{
    position: relative;
    height: 100% !important;
}
.shopping-cart.cart .cart_header,.shopping-cart.cart .cart-footer{
	position:absolute;
	left:0;
	width:100%;
}
.shopping-cart.cart .cart_header{
	top:0;
	z-index: 100;
	height: 45px;
  padding: 7px 10px;  
  color: #ffffff;
}
.shopping-cart.cart .cart-footer{
	bottom: 0; 
  padding: 10px 20px 0;
}
.shopping-cart.cart  .w3-container.item-wrapper{
	padding: 50px 11px 0;
    height: calc(100% - 125px);
    overflow-y: auto;
}
.clearfix{
	clear:both;
}
.shopping-cart .item{
	width:50%;
}

.shopping-cart .price, .shopping-cart .quantity{
  width:20%;
  padding: 4px 0 0;
}
.quantity{
  position: relative;
}
.quantity .reduce-btn{
  position: absolute;
  top: -7px;
  left: 50px;
}
.shopping-cart .action-buttons{
	width:10%;
}
.shopping-cart .action-buttons{
	text-align:right;
}
.shopping-cart ul{
	list-style-type: none;
    padding-left: 0;
    margin: 0;
    border-bottom:1px solid #e6e6e6;
    padding: 10px 0 7px;
}

.item-list ul li {
    float: left;
}
.item-name{
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 2px;
}

.label{
  font-size: 13px;
  float: left;
  color: #000000;
  margin: 0 5px 5px 0;
}
.value{
  font-size: 13px;
  float: left;
  color: #847d7d;
}
td .value{
  float:none;
}
.total{
	font-size: 15px;
  margin: 0 0 20px;
  text-align: right;
  padding: 12px 0;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.shopping-cart  .cart_header h4{
	margin:0;
	font-size: 17px;
}
.shopping-cart  .icons{
	margin:0 10px 0 0;
	font-size: 19px;
}
.shopping-cart .w3-closenav{
	padding-top: 0;
  padding: 0;
	font-size: 17px;
}
.action-buttons .custom-btn{
  vertical-align: top;
}
.reduce-quantity{
  text-align: left;
  padding:6px 2px 2px 10px !important;
}
.checkout_table td{
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 8px;
}
.checkout_table th {
  border-bottom: 1px solid #dddddd;
  padding: 10px 8px;
  background-color: #eeeeee;
  font-size: 14px;
}
.w3-border {
  border: 1px solid #e2e2e2!important;
}

.collection-option-addr {
  margin: 10px;
}

.collection-option-addr input {
  border: 1px solid #e2e2e2!important;
  padding: 5px 3px;
  width: 100%;
}

.addr {
  min-width: 300px;
}

.collection-option-addr input:focus{
  outline: none;
  border-color:#81b240 !important;
}

.collection-option-addr option[disabled]{color:#009688}

.checkout_table tbody tr:last-child td{
  border-bottom: none;
}
textarea.w3-input{
  height: 38px;;
}
.btn{
  width: 48%;
}
.additional-info{
  padding: 15px 0;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.message{
  font-size: 20px;
}
@media screen and (max-width:1250px){
.sidenav.w3-sidenav{
  width: 50%;
}
}
@media screen and (max-width:1250px){
  .sidenav.w3-sidenav{
    width: 80%;
  }
  }
@media screen and (max-width:700px){
.checkout_table th{
  font-size: 13px;
}
}
@media screen and (max-width:600px){
  .sidenav.w3-sidenav{
    width: 99%;
  }
  }
  @media screen and (max-width:480px){
    .btn.save-btn, .btn.cancel-btn{
      width: 100%;
    }
    .shopping-cart.cart .w3-container.item-wrapper {
      height: calc(100% - 192px);
  }
  }