<header class="w3-container w3-card-4 w3-green">
  <a [routerLink]="['../../dashboard/home']">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>

  <h1>{{status}} it's an error..</h1>
  <p>
  </p>
</header>

<div class="w3-container w3-section">
  <div class="w3-row">
    <div class="w3-col s3">
      <img alt="orders" src="https://www.school24.net.au/contentbase/images/funicons/alert0.jpg" />
    </div>
    <div class="w3-col s9 w3-container">
      <h3>What happened?</h3>
      <p>{{errorMessage}}</p>
    </div>
  </div>
  <hr>
  <div class="w3-row">
    <div class="w3-col s3">
      <a href="#">
        <img alt="orders" src="https://www.school24.net.au/contentbase/images/funicons/backorforwards.jpg" />
      </a>
    </div>
    <div class="w3-col s9 w3-container">
      <h3>What now?</h3>
      <p>Click/Tap on the browser back button then try again</p>
    </div>
  </div>
  <hr>
  <div class="w3-row">
    <div class="w3-col s3">
      <img alt="orders" src="https://www.school24.net.au/contentbase/images/funicons/phone.jpg" />
    </div>
    <div class="w3-col s9 w3-container">
      <h3>Like to report it?</h3>
      <p>If you think it's a bug, we'd love to hear it.</p>
      <p>Call us on 02 7251 6939.</p>
    </div>
  </div>
</div>

<footer class="w3-container w3-light-green w3-text-white w3-large" style="position:relative">
  <p>School24</p>
</footer>

<div class="w3-container  w3-green w3-xlarge btn-wrapper">
  <a [routerLink]="['../../dashboard/home']">«</a>
  <span class="w3-right"></span>
  <span class="w3-right exit w3-card-4" (click)="logout()">Exit</span>
</div>
