<ngx-loading [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-container" style="padding-top:56px;position: relative;">
  <div class="w3-row">
    
    <div class="w3-col m12 l12 w3-card-4 w3-container padding-phone margin-phone w3-round w3-white">
      <div class="w3-content w3-panel w3-border">
        <header class="w3-container clearfix">
          <h3  class="w3-center">
            <i class="fa-solid fa-user-headset" aria-hidden="true"></i>&nbsp;&nbsp;
            <b>Support</b>
          </h3>
        </header>
        <p class="well">
          For help with anything related to ordering and your School24 parent portal, please contact School24 Customer Support on any of the contact methods below:
        </p>
      
      <div class="well">
        <h6>
          <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;<b>School24 Support Line: </b> <a href="tel:0272516939">02 7251 6939</a>
        </h6>
        <p>
          During School Terms: Monday-Friday  from 8am-5pm (AEDT October-April & AEST April-October). <br>
          During School Holidays: Monday-Friday from 9am-3pm (AEDT October-April & AEST April-October).
        </p>
      </div>
      <div class="well">
        <h6>
          <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<b>School24 Support Email: </b> <a href = "mailto: info@school24.net.au">info@school24.net.au</a>
        </h6>
        <p>
          During School Terms: Monday-Friday  from 8am-5pm (AEDT October-April & AEST April-October). <br>
          During School Holidays: Monday-Friday from 9am-3pm (AEDT October-April & AEST April-October).
        </p>
      </div>
      <div class="well">
        <h6>
          <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;<b>School24 Live Web Chat: </b> <a href="https://www.school24.net.au">http://www.school24.net.au</a>
        </h6>
        <p>
          The School24 online chat function is available 24/7 and can be accessed via the orange speech bubble at the bottom left hand side of our website.
        </p>
      </div>
      <hr />

    </div>
    <br /> <br /><br /> <br /><br />
  </div>
</div>
<br>
<br>
