
@media screen and (max-width:800px) {
    .margin-phone {
        margin-bottom: 20px;
    }
    .well{
        padding: 5px 10px;
      }
}

@media screen and (max-width:800px) {
    .padding-phone {
        padding-left:15px;
    }
    .well{
        padding: 5px 10px;
      }
}

@media screen and (min-width:800px) {    
    .padding-phone {
        padding-left:10px;
    }
}

.w3-modal{
    padding-top: 250px;
  }
  
  .w3-modal-content {
      width: 500px;
  }
  
  .modal-body-height{
    height: 80px;
  }

  .well{
    padding: 10px 20px;
  }