<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="w3-row-padding left-margin">
  <div class="w3-col m8 " style="margin-top:100px;">
    <div class="w3-card-2 w3-round w3-white">
      <div class="w3-container w3-padding">

        <div *ngIf="parent?.parentPlan != 2">
          <div class="w3-row">
            <div class="w3-half" *ngIf="parent?.parentPlan == 0">
              <h2>PAY AS YOU GO</h2>
              <div class="w3-container w3-padding-16">
                <p>
                  <b>
                    <font color="red">{{ this.schoolInfo.canteenOrderServiceFee | currency:currency:true:'1.2-4' }}</font>
                  </b> is added to the total of each order</p>
                <p>You can order Lunch and Recess in one order</p>
                <p>Select this plan if you don't order very often</p>
                <button type="button" class="w3-btn w3-green" (click)="updatePlan(1)" [disabled]="payButtonClicked">
                  PAY AS YOU GO</button>
                <br>
              </div>
            </div>

            <div class="w3-half" *ngIf="schoolInfo?.schoolid == 422">
              <h2>UNLIMITED</h2>
              <div class="w3-container w3-padding-16">
                <p>
                  <b>
                    <font color="red">{{unlimitedParentPlanFee| currency:currency:true:'1.2-4'}}</font>
                  </b> per family per year</p>
                <p>Order as often as you like and for the whole family</p>
                <p>Select this plan if you order regularly</p>
                <button type="button" class="w3-btn w3-green" (click)="updatePlan(2)"
                  style="margin-bottom:10px; width:180px;" [disabled]="payButtonClicked">PAY BY BALANCE</button>
                <button type="button" class="w3-btn w3-green" (click)="payUsingCredit()"
                  style="margin-bottom:10px; width:180px;" [disabled]="payButtonClicked">PAY BY CARD</button>
                <br>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-stripe *ngIf="showStripeModal" [paymentDetails]="stripePaymentData" (closeModal)="showStripeModal = false"
  (stripeCallback)="stripeCallback($event)"></app-stripe>
