  <div class="myProfile">
        <div class="w3-card w3-white w3-right ">
            <div class="profile-container">
             
                <p>
                    <i class="fa fa-user fa-fw theme-color-icon"></i>{{parent.firstName}} &nbsp;{{parent.lastName}}</p>
                <p>
                    <i class="fa fa-envelope fa-fw theme-color-icon"></i>{{parent.email}}</p>
                <p>
                 
                    <i class="fa fa-phone fa-fw theme-color-icon"></i>{{parent.mobile}}</p>
             
                <div class="w3-row btn-wrapper">               
                        <button class="w3-btn btn cart-btn" (click)="viewProfile()">My Account</button>               
                        <button class="w3-btn btn cart-btn" (click)="logout()">Sign out</button>
                  
                  </div>
            </div>
        </div>
      </div>