.myProfile{
    margin-top: 45px;
    z-index: 36!important;
    position: fixed;
    right: 2px;
    width: 300px;
    top: 0;
}

.profile-container{
    padding: 0 10px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.profile-container p{
    margin: 8px 0 5px;
    color: #000000;
    font-size: 13px;
}
.cart-btn{
    font-size: 13px;
    padding: 5px 7px !important;
    margin-left: 5px;
    width: 46%;
}
.theme-color-icon{
    font-size: 15px;
    margin: 0px 7px 0 0;
}
.btn-wrapper{
    padding: 8px 0 5px;
    border-top: 1px solid #cccccc;
    text-align: right;
}