<navbar (showSidebar)="displaySidebar($event)"></navbar>   
<sidebar (hideSidebar)="hideSidebar()" [hidden]="!showSidebar" ></sidebar>
<cart (hideCartBar)="hideCartBar()" *ngIf="showCartBar"></cart>
<router-outlet></router-outlet>