.w3-modal{
    display: block;
    overflow-y: scroll;
    padding-top: 100px;
    z-index: 333;
}
.w3-modal-content {
    width: 500px;
    text-align: center;
}
.form-row{
    padding-top: 18px;
}
.card-info{
    min-height: 18px;
    margin: 20px 0px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.error{
    color: red;
    font-size: 12px;
    text-align: left;
    padding: 8px 0px;
    min-height: 34px;
}