<div class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-theme">
      <span (click)="closeModal()" class="w3-closebtn w3-display-right">&times;</span>
      <h4 class="w3-center">
        Pay by Credit Card
      </h4>
    </header>
    <div class="w3-container">
      <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
        <div class="form-row">
          <label for="">{{paymentDetails.name}} - {{paymentDetails.email}}</label> <br>
          <label *ngIf="isCvc && customerStripeDetails" for="">Card Number - xxxx xxxx xxxx {{customerStripeDetails.cardLast4}}</label>
          <div class="card-info" #cardInfo></div>
          <div class="error">{{error}}</div>
        </div>
        <div><span *ngIf="isCvc" (click)="useAnotherCard()" class="w3-btn w3-margin-right w3-margin-bottom btn save-btn" >
          Use Another Card
        </span> 
        <button type="submit" class="w3-btn w3-margin-bottom btn save-btn" [disabled]="isSubmitDisabled">
          Pay {{paymentDetails.amount / 100 | currency: 'USD'}}
        </button></div>
        
      </form>
    </div>
  </div>
</div>
