<div class="w3-container" style="padding-top:56px;position: relative;">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="w3-row">
                <div class="w3-col s12 m2 l2 ">
                    <div class="w3-dropdown-hover" style="width:100%">
                        <button class="w3-btn w3-red" style="width:100%; height: 34px;">
                            <i class="fa fa-filter"></i> &nbsp;<strong>Filter Transactions</strong> 
                        </button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            <a (click)="showAll()" class="w3-bar-item w3-button">Show All</a>
                            <a (click)="creditOnly()" class="w3-bar-item w3-button"> Show Credit Only</a>
                            <a (click)="debitOnly()" class="w3-bar-item w3-button">Show Debit Only</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="w3-col m12 ">
        <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding table-responsive">
                <table class="table table-bordered w3-hoverable" [mfData]="transactions | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Transaction Type</th>
                            <th>Comment/Reason/Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of mf.data">
                            <td>{{transaction.date | date}}</td>
                            <td>{{transaction.amount | currency: currency :true:'1.2-4'}}</td>
                            <td>{{transaction.type}}</td>
                            <td>{{transaction.commentOrReason}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">