
@media screen and (max-width:800px) {
    .margin-phone {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:800px) {
    .padding-phone {
        padding-left:15px;
        padding-right: 15px;
    }
    
}

@media screen and (min-width:800px) {    
    .padding-phone {
        padding-left:40px;
        padding-right: 30px;
    }
   
}

.w3-modal{
    padding-top: 250px;
  }
  
  .w3-modal-content {
      width: 500px;
  }
  
  .modal-body-height{
    height: 80px;
  }

  