<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-container" style="padding-top:56px;position: relative;">
  <div class="w3-row">
    <div class="w3-col m12 l12 w3-card-4 w3-margin-right padding-phone margin-phone w3-round w3-white">

      <h3>
        <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;
        <b>Card Payment</b>
        <hr />
      </h3>
      <div class="w3-col w3-half "
        *ngIf="schoolInfo?.processed && schoolInfo?.processed == true && isTopupEnabled == true; else disabledtoptup">
        <form #topupform="ngForm">
          <label>Select your top-up Amount</label>
          <div>
            <br>
            <select class="w3-select w3-half" name="option" (change)="calculateCharge()" [(ngModel)]="selectedAmount"
              name="amount" #amount="ngModel" required>
              <option [value]=10 selected>10</option>
              <option [value]="amount" *ngFor="let amount of topUpOptions">{{amount}}</option>
            </select>
            <div *ngIf="amount.invalid && amount.touched" class="w3-text-red">
              <div *ngIf="amount.errors.required">
                Top up amount is required.
              </div>
            </div>
            <br>
            <br>
            <label>Your card will be charged </label>
            <br>
            <br>
            <label style="color:red;font-weight:bold;">{{chargeAmount | currency:currency:true:'1.2-4'}}</label>
          </div>
          <br><br>
          <input class="w3-btn w3-green" type="button" [disabled]="payButtonClicked" value="Pay using Card"
            (click)="payUsingCard()">
        </form>
      </div>
      <ng-template #disabledtoptup>
        <div class="w3-col w3-half">
          <h4 *ngIf="!isTopupEnabled">
            <p>Top-up is disabled</p>
          </h4>
        </div>
      </ng-template>
      <hr />
      <div class="w3-col w3-half padding-phone"
        *ngIf="schoolInfo?.processed && schoolInfo?.processed == true && isTopupEnabled == true">
        <h3>
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;&nbsp;
          <b>Instructions</b>
        </h3>
        <div class="well">
          <h6>
            <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;How to top-up using a Card</h6>

          <p>
          </p>
          <ol>
            <li>Select your preferred top-up amount from the drop-down menu.</li>
            <li>Click on "Pay using Card" button.</li>
            <li>You will be transferred to the secure Payment Gateway Portal where you will be prompted to
              complete your
              card details.</li>
            <li>Enter your card details then click on Pay Button.</li>
          </ol>
          <p></p>
          <p>
            Notes:
            <br> A surcharge of 1.5% + 0.30 cents applies to all cards.
            <br>
            <span style="color:red;font-weight:bold;">This payment is done using © Stripe Payment Gateway
              (https://stripe.com).</span>
          </p>
          <br>
        </div>


    </div>
    <br /> <br /><br /> <br /><br />
  </div>

  <div class="w3-row">
    <div class="w3-col m12 l12 w3-card-4 w3-margin-right padding-phone margin-phone w3-round w3-white">

      <h3>
        <i class="fa fa-university" aria-hidden="true"></i>&nbsp;&nbsp;
        <b>Manual EFT (Electronic Funds Transfer)  Top Up</b>
        <hr />
      </h3>
      <div class="w3-col w3-half"
        *ngIf="schoolInfo?.processed && schoolInfo?.processed == true && isTopupEnabled == true; else disabledtoptup">
        <p>School24 supports account balance top-ups via electronic funds transfer (EFT) to the School24 bank account. </p>
        <p>If you would like to pay for your top-up via the EFT top-up method, please follow the instructions to complete your top-up.</p>
        <p>Please don't hesitate to reach out to School24 support if you have any questions, by visiting the "Support" tab of your parent portal.</p>
      </div>
      <ng-template #disabledtoptup >
        <div class="w3-col w3-half" *ngIf="!isTopupEnabled">
          <h4 *ngIf="!isTopupEnabled">
            <p>Top-up is disabled.</p>
          </h4>
        </div>
      </ng-template>
      <hr />
      <div class="w3-col w3-half padding-phone"
        *ngIf="schoolInfo?.processed && schoolInfo?.processed == true && isTopupEnabled == true">
        <h3>
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;&nbsp;
          <b>Instructions</b>
        </h3>
        <div class="well">
          <h6>
            <i class="fa fa-university" aria-hidden="true"></i>&nbsp;&nbsp;How to top-up using a Card</h6>

            <p>
            </p>
            <ol>
              <li>Perform your EFT transfer to the bank details below, <b>using the mobile number associated with your School24 account as the reference.</b></li>
              <li>You will receive this top up with 3-5 business days depending on your bank.</li>
            </ol><br>
            
              School24 Bank Details: <br><br>
              &nbsp;&nbsp;Account Name: eDimenions Pty Ltd <br>
              &nbsp;&nbsp;BSB: 062 692 <br>
              &nbsp;&nbsp;Account Number: 4389 4549 <br>
            
              <br>
            
            Notes:

            <p>You <b>MUST</b> include your School24 account associated mobile number as the reference in your EFT transfer. If you do not, your top-up will not be processed. The mobile number is very important to help us verify your account and who you are.</p>

            <p>The EFT top-up is completely free because it does not go through © Stripe Payment Gateway.</p>
            <p></p>
            <p>
              <br>
              <span *ngIf="schoolInfo?.schoolid == 72 " style="color:red;font-weight:bold;">Please note you cannot use your top up balance to place uniform orders.</span>
            </p>
            <br>
        </div>
    </div>
    <br /> <br /><br /> <br /><br />
  </div>
</div>
<br>
<br>
<app-stripe *ngIf="showStripeModal" [paymentDetails]="stripePaymentData" (closeModal)="showStripeModal = false"
  (stripeCallback)="stripeCallback($event)"></app-stripe>
