<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container innerWrapper" *ngIf="!isFundRaising">
  <div *ngIf="schoolInfo && schoolInfo.canteenopen; else canteenclosed">
    <div class="clearfix breadcrumb-section">
      <div class="row">
        <div class="w3-col l3 m3 s12 pr-0 date">
          <h3 class="m-0 date">{{dateHeader}} : {{showDate | date}}</h3>
        </div>
        <div class="breadcrumb-wrapper w3-col l6 m6 s12 pl-0 m-0">
          <ul class="breadcrumb text-right">
            <li *ngIf="orderType!='event'">Home</li>
            <li *ngIf="orderType=='event'">Event</li>
            <li>{{mealNameToDisplay}}</li>
            <li *ngIf="orderType!='event'">{{categoryNameToDisplay}}</li>
          </ul>
        </div>
        <div class="w3-col l3 m3 s12 pl-0 m-0">
          <input type="text" name="search" class="w3-input w3-border" placeholder="Search product.."
            [(ngModel)]="searchQuery" #search="ngModel" (keyup)="filterProducts()">
        </div>
        <div *ngIf="isProductEmpty" class="w3-display-middle w3-xlarge w3-col l12 m12 s12">
          There are no products for this category for this day.
        </div>
      </div>
    </div>
    <div class="w3-row-padding product-wrapper">
      <div *ngFor="let product of products; let i = index" class="w3-col m4 l3 s12 product-otr">
        <div class=" w3-container product-box">
          <h4 class="name-space">
            <strong class="product-stock" *ngIf="product.stock!=null && product.stock > 0">In Stock
              <span>{{product.stock}} </span>
            </strong>
            <strong class="out-of-stock" *ngIf="product.stock!=null && product.stock==0">Out Of
              Stock</strong>
            <strong class="product-stock" *ngIf="product.stock!=null && product.stock == -999">In
              Stock</strong>
            <strong class="out-of-stock" *ngIf="product.stock==null && this.orderType != 'event'">Retrieving
              Stock</strong>
          </h4>
          <div class="product-image-area">
            <div class="">
              <img src='https://www.school24.net.au/fps/images/{{product.cimageurl}}' class="zoomin"
                style="width:100%;height:250px;"
                onerror="this.src='https://www.school24.net.au/fps/images/picture_not_available.png'" />
            </div>
          </div>
          <div *ngIf="product.healthcategory" class="image-traffic">
            <img src="{{getTrafficLightImage(product.healthcategory)}}" style="width: 13%;">
          </div>
          <div class="details-area">
            <h2 class="product-name">
              {{product.cname}}
            </h2>
            <div class="price-box">
              <span class="regular-price">
                <span class="price"
                  *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">{{product.cprice | currency:currency:true:'1.2-4' }}</span>
                <span class="more-info">
                  <a href="javascript:void(0);" (click)="showProductDescription(product)" class="w3-small">More Info</a>
                </span>
              </span>
            </div>
            <div>
              <div class="student-list cust-select">
                <h4>
                  <i class="fa fa-user"></i> Select Students
                </h4>

                <div id="wrap" *ngIf="students && students[0]">
                  <!--Event type 2-->
                  <ng-container
                    *ngIf="orderType != 'canteen' && event_type && event_type == 2; else normalorderstudentlist">
                    <span *ngIf="students.length > 0">
                      <input class="w3-check" type="checkbox" name="{{students[0].firstName}}"
                        value="{{students[0].studentId}}"
                        (change)='selectStudents(students[0].studentId,product, $event.target.checked,0)'
                        [disabled]="product.stock==0">
                      &nbsp;<span class="student-name">{{students[0].firstName}} </span>
                    </span>
                  </ng-container>
                  <!--All other orders-->
                  <ng-template #normalorderstudentlist>
                    <span *ngFor="let student of students" class="student-wrapper">
                      <!-- isThisStudentBanned(product.catalogID, student.studentId) != 1 && -->
                      <span
                        *ngIf="isThisStudentBanned(product.catalogID, student.studentId) != 1 && isThisProductAvailableForStudent(product, student)
                        && ifSchoolEventAllowedClassIds(product, student)
                        ">
                        <input class="w3-check" type="checkbox" name="{{student.firstName}}"
                          value="{{student.studentId}}"
                          (change)='selectStudents(student.studentId,product, $event.target.checked,i)'
                          [disabled]="product.stock==0">
                        &nbsp;<span class="student-name">{{student.firstName}}</span>
                      </span>
                    </span>
                  </ng-template>
                </div>
                <div class="w3-panel w3-red" id="alert11" style="display: none;">
                  <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
                  <div class="noStudentSelected">
                    <h3>
                      <i class="fa fa-ban"></i> Select Student</h3>
                    <p>You must select at least one student.</p>
                    <br />
                  </div>
                </div>
              </div>
              <div *ngIf="this.orderType != 'event' || (this.orderType == 'event' ); else fixedPriceEventQty"
                class="cust-select">
                <select [disabled]="product.stock==0" name="quantity" id="quantity" class="w3-select w3-border"
                  [(ngModel)]="product.quantity">
                  <option value="1" selected>Select Quantity</option>
                  <ng-template ngFor let-item [ngForOf]="createRange(product.quantity_limit)"
                    let-currentElementIndex="index+1">
                    <option value="{{currentElementIndex}}">{{currentElementIndex}}</option>
                  </ng-template>
                </select>
              </div>
              <div class="cust-select">
                <ng-template #fixedPriceEventQty>
                  <select [disabled]="product.stock==0" name="quantity" id="quantity" class="w3-select w3-border"
                    [(ngModel)]="product.quantity">
                    <option value="1" selected>1</option>
                  </select>
                </ng-template>
              </div>
              <div class="actions">
                <button [disabled]="product.stock==0" class="addtocart btn cart-btn w3-btn" style="width:100%"
                  (click)="showOptions(product,i)">
                  <i class="fa fa-shopping-cart"></i>&nbsp; Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="displayOptions" class="w3-modal" style="display:block;">
      <div class="w3-modal-content">
        <header class="w3-container theme-color">
          <span (click)="hideOptions()" class="w3-closebtn w3-display-right">&times;</span>
          <h2>Selects Options</h2>
        </header>
        <div class="w3-container p-0">
          <options [optionGroups]="options" (exportOptions)="selectedOptions($event)"></options>
          <p></p>
        </div>
      </div>
    </div>
    <div *ngIf="showDescription" class="w3-modal" style="display:block;">
      <div class="w3-modal-content">
        <header class="w3-container theme-color">
          <span (click)="hideDescription()" class="w3-closebtn w3-display-right">&times;</span>
          <h2>Product Details</h2>
        </header>
        <div class="w3-container">
          <product-description (closeDesc)="hideDescription()" [product]="product"></product-description>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #canteenclosed>
    <h3 class="w3-center w3-text-red">{{canteenClosedMessage}}</h3>
  </ng-template>
</div>

<div class="container innerWrapper" *ngIf="isFundRaising">
  <fund-raising-event [eventId]="eventId" [students]="students"></fund-raising-event>
</div>
