.event-wrapper button{
  color: #ffffff !important;
  background-color: #4caf50 !important;
  border-bottom: 0;
  margin-left: -5px;
  border: 1px solid #4caf50;
}
.event-wrapper button:first-child{
  margin-left: 0;
}
.event-wrapper button.active-button{
  border-bottom-color: #ffffff !important;  
  color: #05ab0c!important;
  background-color: #ffffff!important;
  border: 1px solid #4caf50;
}
.event-details-wraaper{
  border:1px solid #4caf50;
  margin: -1px 0 0;
}
.event-details-wraaper p{
  font-size: 15px;
}
.type{
  text-transform: lowercase;
}
.event-header{
  color: #000000;
  font-size: 13px;
    padding: 5px 7px;
    border-bottom: 1px solid #dddddd;
    background: #dbdbdb;
}
.content-wrapper{
  padding: 5px 7px;
}
.content-wrapper p{
  margin: 0 0 5px;
}
.w3-card-12{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 2px 12px 0 rgba(0,0,0,0.19)!important;
}
.order-btn{
  padding: 5px 7px;
    font-size: 12px;
}
@media screen and (max-width:650px){
  .event-wrapper button{
    width:100%;
    margin: 0;
  }
  .event-wrapper button.active-button{
    border-bottom-color: #4caf50 !important;  
   }
  }
  
  .eventSection {
    padding-bottom: 70px;
  }
  
  .eventContent {
    border-radius: 13px;
    margin-bottom: 30px;
  }
  
  .eventContent .media-left {
    border-radius: 13px 0 0 13px;
    position: relative;
    width: 100%;
    display: block;
    padding-right: 0;
  }
  
  @media (min-width: 992px) {
    .eventContent .media-left {
      float: left;
      width: 50%;
      display: inline-block;
      padding-right: 10px;
    }
  }
  
  .eventContent .media-left img {
    width: 100%;
    box-shadow: none;
  }
  
  @media (min-width: 768px) {
    .eventContent .media-left img {
      box-shadow: 4px 0 0 rgba(0, 0, 0, 0.1);
    }
  }
  
  .eventContent .media-body h3 a {
    color: #ffffff;
  }
  
  .eventContent .media-body .list-unstyled li {
    color: #ffffff;
  }
  
  .eventContent .media-body p {
    color: #ffffff;
    margin-bottom: 25px;
  }
  
  @media (min-width: 320px) {
    .eventContent .media-body {
      width: 100%;
      display: block;
      padding: 20px;
    }
  }
  
  @media (min-width: 992px) {
    .eventContent .media-body {
      padding: 14px 10px 10px 10px;
      display: inline-block;
      float: left;
      width: 50%;
      overflow: visible;
    }
  }
  
  @media (min-width: 1200px) {
    .eventContent .media-body {
      width: auto;
      display: table-cell;
      padding: 20px 10px 0 20px;
      width: 50%;
    }
  }
  
  .eventContent .list-inline a {
    font-size: 14px;
  }
  
  .eventContent .list-inline .btn-primary {
    background-color: #ffffff;
    color: #666666;
    font-weight: 600;
    padding: 8px 15px;
  }
  
  .eventContent .list-inline .btn-primary:hover {
    background-color: #ffffff !important;
  }
  
  .eventContent .list-inline.btn-yellow .btn-primary:hover {
    color: #f0c24b;
    background-color: #ffffff !important;
  }
  
  .eventContent .list-inline.btn-green .btn-primary:hover {
    color: #b5d56a;
    background-color: #ffffff !important;
  }
  
  .eventContent .list-inline.btn-red .btn-primary:hover {
    color: #ea7066;
    background-color: #ffffff !important;
  }
  
  .eventContent .list-inline.btn-sky .btn-primary:hover {
    color: #84bed6;
    background-color: #ffffff !important;
  }
  
  .eventContent .list-inline.btn-purple .btn-primary:hover {
    color: #a597e7;
    background-color: #ffffff !important;
  }
  
  .eventContent .list-inline.btn-pink .btn-primary:hover {
    color: #ea77ad;
    background-color: #ffffff !important;
  }
  
  .sticker-round {
    width: 70px;
    padding: 10px 0;
    border-radius: 13px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: #84bed6;
    display: block;
    text-align: center;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #ffffff;
  }

  