<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="" style="padding-top:56px;position: relative;">
    <div class="w3-container w3-center">
        <p *ngIf="canteenEvents.length <= 0 && schoolEvents.length <=0 ">No events present</p>
    </div>
    <!-- <div class="w3-bar event-wrapper">
        <button class="w3-bar-item w3-btn {{getCSSClass('CANTEEN')}}" (click)="loadEvents('CANTEEN')"
            [ngClass]="{'active-button':eventType=='CANTEEN'}">Canteen
            Events</button>
        <button class="w3-bar-item w3-btn {{getCSSClass('SCHOOL')}}" (click)="loadEvents('SCHOOL')"
            [ngClass]="{'active-button':eventType=='SCHOOL'}">School
            Events</button>
    </div> -->
    <!-- <div class="event-details-wraaper"> -->
    <!-- <div *ngIf="events.length < 1">
            <div class="w3-container">
                <p *ngIf="doneLoadingEvent">No <span class="type">{{eventType}}</span> events present</p>
                <p *ngIf="!doneLoadingEvent">{{retrievingMsg}}</p>
            </div>
        </div> -->
    <!-- <div *ngFor="let event of events" class="">
            <div class="w3-card-12 w3-margin">
                <header class="header-padding event-header">
                    <span>{{event.eventName}}</span>
                    <span *ngIf="eventType == 'SCHOOL' && (event.description || event.images || event.documents)"
                        class="w3-right" (click)="moreInfo(event)" style="cursor: pointer;"> More info</span>
                </header>
                <div class="content-wrapper">
                    <p class="clearfix">
                        <span class="label">Event Date:</span> <span class="value"> {{event.eventDate | date}}</span>
                    </p>
                    <p class="clearfix">
                        <span class="label">Ordering closes:</span> <span class="value">
                            {{event.orderingCloseDate | date}}</span>
                    </p>
                    <div class="button-padding clearfix">
                        <button type="button" class="w3-btn theme-color w3-right order-btn"
                            (click)="startOrder(event)">Order</button>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->

    <br /><br />
    <div class="w3-row" style="position: relative;">
        <div class="w3-quarter w3-padding" *ngFor="let event of canteenEvents">
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">{{event.eventName}}
                        <span
                            *ngIf="event.eventType == 'SCHOOL' && (event.description || event.images || event.documents)"
                            class="w3-right" (click)="moreInfo(event)" style="cursor: pointer;"> More info</span>

                    </h4>
                    <hr style="margin: 0;">

                    <span class="w3-tag w3-red w3-center"
                        *ngIf="event.isFundRaisingEvent; else notFundRaisingEvent">FUND RAISING</span>
                    <ng-template #notFundRaisingEvent>
                        <span class="w3-tag w3-red w3-center">CANTEEN</span>
                    </ng-template>

                    <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i>
                        Event Date: {{event.eventDate | date}}
                    </p>
                    <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i>
                        Ordering closes:
                        {{event.orderingCloseDate | date}}
                    </p>
                    <p>
                        <button type="button" class="w3-btn theme-color w3-right order-btn"
                            (click)="startOrder(event)">Order</button>
                        <br />
                    </p>

                </div>
            </div>
        </div>

        <div class="w3-quarter w3-padding" *ngFor="let event of schoolEvents">
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">{{event.eventName}}
                    </h4>
                    <hr style="margin: 0;">
                    <span class="w3-tag w3-red w3-center">SCHOOL</span>
                    <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i>
                        Event Date: {{event.eventDate | date}}
                    </p>
                    <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i>
                        Ordering closes:
                        {{event.orderingCloseDate | date}}
                    </p>
                    <p>
                        <button
                            *ngIf="event.eventType == 'SCHOOL' && (event.description || event.images || event.documents)"
                            class="w3-left w3-btn theme-color order-btn" (click)="moreInfo(event)"
                            style="cursor: pointer;"> More info</button>

                        <button type="button" class="w3-btn theme-color w3-right order-btn"
                            (click)="startOrder(event)">Order</button>
                        <br />
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>