<div class="text-wrapper">
    <header>
     <h4>{{product?.cname}}</h4>
    </header>
    <div class="w3-container p-0 text-wrapper" style="max-height: 300px;overflow-y:auto;">
      <div *ngIf="healthCategoryImagePath" class="img w3-third w3-center">
        <img src="{{healthCategoryImagePath}}" />
      </div>
      <div>
        <div *ngIf = "product?.cdescription != null" [innerHTML]="product?.cdescription | safeHtml"><br></div>
        <span class="w3-text-blue">{{product?.cprice | currency:currency:true:'1.2-4'}}<br></span>
        <span *ngIf="foodLabel">Food Label:{{foodLabel}}<br></span>
        <span class="w3-text-red">Quantity Limit : {{product.quantity_limit}}</span>
      </div>
    </div>
  </div>