<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-row-padding left-margin" style="padding-top:56px; position: relative;">
  <div class="w3-col m10 ">
    <div class="w3-card-2 w3-round w3-white">

      <div class="w3-container student-table-mobile">
        <button class="w3-btn w3-theme" rel="tooltip" title="Add Children" (click)="addChildren()" style="margin: 7px;">
          ADD NEW STUDENT
        </button>
        <div class="w3-row mobile-grid-row" *ngFor="let children of childrens; let i = index">
          <div class="w3-col s3 m3">
            <img src="https://www.school24.net.au/canteenorder/assets/img/stu_avatar.png" class="w3-bar-item w3-circle"
              style="width:55px;">

          </div>
          <div class="w3-col s9 m69" style="border-bottom: 1px solid black; padding: 5px;">
            <div class="w3-row">
              <div class="w3-col" style="width: 50%">
                <span style="font-weight: bold;">{{children.firstName}} {{children.lastName}}</span>
                <br />
                <span>{{children.studentClass}}</span>
                <br />
                <span>{{children.allergy}}</span>
              </div>
              <div class="w3-col" style="width: 50%">
                <span class="w3-tag w3-green" *ngIf="children.status == 'ACTIVE'">{{children.status}}</span>
                <span class="w3-tag w3-red" *ngIf="children.status == 'INACTIVE'">{{children.status}}</span>
                <br /><br />
                <button class="w3-button w3-theme" rel="tooltip" title="Edit" (click)="editChildren(children,i)"
                  style="border: none;">
                  <i class="fa fa-pencil"></i> Edit
                </button>

              </div>
            </div>

            <div class="w3-row" *ngIf="children.studentCardId">
              <div class="w3-col">
                <span>Card Id</span>
                <span style="font-weight: bold;"> {{children.studentCardId}} </span>
              </div>
            </div>

            <div class="w3-row" *ngIf="children.maxAllow">
              <div class="w3-col">
                <span>Counter Order Limit</span>
                <span style="font-weight: bold;"> {{children.maxAllow | currency:currency:true:'1.2-4'}} </span>
              </div>
            </div>


          </div>

        </div>

      </div>


      <div class="w3-container w3-padding w3-responsive student-table">
        <table class="w3-table w3-bordered w3-hoverable">
          <tr>
            <td colspan="6">
              <button class="w3-btn w3-theme" rel="tooltip" title="Add Children" (click)="addChildren()">
                ADD NEW STUDENT
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <b>Firstname</b>
            </td>
            <td>
              <b>Lastname</b>
            </td>
            <td>
              <b>Class</b>
            </td>
            <td>
              <b>Status</b>
            </td>
            <td>
              <b>Food Allergies</b>
            </td>
            <td>
              <b>Card Id</b>
            </td>
            <td>
              <b>Counter Order Limit</b>
            </td>
            <td>
              <b>Actions</b>
            </td>

          </tr>
          <tr *ngFor="let children of childrens; let i = index">
            <td>{{children.firstName}}</td>
            <td>{{children.lastName}}</td>
            <td>{{children.studentClass}}</td>
            <td>{{children.status}}</td>
            <td>{{children.allergy}}</td>
            <td>{{children.studentCardId}}</td>
            <td>{{children.maxAllow | currency:currency:true:'1.2-4'}}</td>
            <td>
              <button class="w3-button w3-theme" rel="tooltip" title="Edit" (click)="editChildren(children,i)"
                style="border: none;">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>

<br />

<div *ngIf="show" class="w3-modal" style="display:block;">
  <div class="w3-modal-content">
    <header class="w3-container w3-theme">
      <span (click)="closeModal()" class="w3-closebtn w3-display-right">&times;</span>
      <h4 class="w3-left">
        Student Details</h4>
    </header>
    <div class="w3-container">
      <add-children [mode]="mode" (closeModel)="closeModal()"></add-children>
      <p></p>
    </div>
  </div>
</div>
