.card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #ceea2e);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
  }
.card [data-background-color="blue"] {
  background: linear-gradient(60deg, #27f1de, #dacc20);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

@media screen and (min-width:700px){
  .left-margin {
    margin-left:15%;
 }
}

@media only screen and (max-width: 600px) {
  .student-table {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .student-table-mobile {
    display: none;
  }
}

.mobile-grid-row{
  padding: 5px;
}