<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div style="padding-top:56px;position: relative;">
  <div class="w3-row-padding">

    <div class="w3-third">
      <div class="w3-container w3-round w3-card w3-white w3-margin-bottom w3-center">
        <h4>
          <b>Roster</b>
        </h4>
        <select class="option-padding" type="button" [(ngModel)]="selectedMonth">
          <option value="0 ">January </option>
          <option value="1">February</option>
          <option value="2 ">March </option>
          <option value="3">April</option>
          <option value="4">May</option>
          <option value="5">June</option>
          <option value="6">July</option>
          <option value="7">August</option>
          <option value="8">September</option>
          <option value="9">October</option>
          <option value="10">November</option>
          <option value="11">December</option>
        </select>
        <br>
        <br>
        <button class="w3-btn w3-theme w3-padding-2 w3-large button" (click)="showCalendar()">View Roster</button>
        <br>
        <br>
      </div>
    </div>

    <div class="w3-twothird">
      <div class="w3-container w3-round w3-card w3-white w3-margin-bottom">
        <h4 class="w3-text-black w3-padding-16" *ngIf="rosterShifts.length > 0">
          <i class="fa fa-certificate fa-fw w3-margin-right w3-text-teal"></i>
          Thanks for volunteering</h4>

        <div class="w3-responsive">
          <table class="w3-table ">
            <tr *ngIf="rosterShifts.length > 0">
              <th> Shift Name </th>
              <th> Shift Date</th>
              <th></th>
              <hr />
            </tr>

            <tr *ngFor="let shift of rosterShifts">
              <td>{{shift.shiftName}}</td>
              <td>{{shift.shiftDate | date}}</td>
              <td>
                <button type="button" class="w3-btn w3-theme w3-round" (click)="displayDetails(shift.volunteers)">
                  <i class="fa fa-eye" style="font-size:18px" title="Who's on?"></i> &nbsp;Who's on?
                </button>
              </td>
            </tr>
          </table>
        </div>
        <hr />
        <div class="w3-container" *ngIf="rosterNews?.length>0">
          <div class="w3-margin-bottom" *ngFor="let news of rosterNews">
            <h5><b>{{news.subject}}&nbsp;</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{news.dateEntered | date}}
            </h6>
            <p [innerHTML]="news.description"></p>
            <div *ngIf="news.comment">
              <h6>
                <b>Comment &nbsp;:</b>
              </h6>
              {{news.comment}}
            </div>
            <hr />
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>

<div *ngIf="showDetails" class="w3-modal" style="display:block;overflow-y:scroll;">
  <div class="w3-modal-content border-radius">
    <header class="w3-container w3-theme border-radius">
      <span (click)="hideDetails()" class="w3-closebtn w3-display-right">&times;</span>
      <h4 class="w3-center">
        Who's on?
      </h4>
    </header>
    <div class="w3-container">
      <div *ngFor="let v of shiftVolunteers">
        <div class="w3-container">
          <table>
            <tr>
              <td>
                <b> {{v.firstName}} {{v.lastName}}</b>
              </td>
            <tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>