.padding{
    padding-left: 20%;
    padding-top: 41px;
}

.text{
    color: #6C6E6B;
    padding-bottom: 5px;
}

.option-padding{
   
    padding: 10px;
    width: 80%;
    border-radius: 3px;
}

.button{
    padding: 10px;
    width: 80%;
    border-radius: 3px;
}

.header-color{
    color: #6C6E6B;
}

.tooltip {
    position: relative;
    display: inline-block;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.bg-color{
    background-color: #E8F7E1      ;
}

.w3-modal{
    padding-top: 170px;
  }
  
  .w3-modal-content {
      width: 350px;
  }
  
  .border-radius{
    border-radius : 3px;
  }
