.bgimg {
  background-image: url('https://www.school24.net.au/images/back/main_schoolkids_1280.jpg');
  background-position: center;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.w3-sidenav a {
  padding: 20px
}

a:link {
  text-decoration: none;
}


/* .icon {
    padding: 7px;
    background: #80b23e;
    color: white;
    min-width: 50px;
    text-align: center;
    font-size: 22px;
    height: 38px;
    margin-right: -2px;
    border-radius: 2px;
  } */

.icon-circle {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  color: white;
  background-color: #80b23e;
}

body {
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

w3-container {
  background: #f5f5f5;
}

.display-flex {
  display: flex;
}

.login-card-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

.login-logo {
  padding: 30px 20px;
  text-align: center;
}

.login-card {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.login-illustration {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  border-radius: 5px 0px 0px 5px;
}

.login-illustration img {
  width: 70%;
  margin: 50px 15%;
}

.w3-btn {
  background-color: #80b23e;
  border-color: #80b23e;
}

.w3-btn:hover {
  background-color: #6f9b35;
  border-color: #6f9b35;
}

div.w3-text-red {
  margin-top: -12px;
}

a {
  color: #80b23e;
}

a:hover {
  color: #6f9b35;
}

.form-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.input-group-prepend,
.input-group-append {
  padding: 9px;
  color: #e1dbdb;
}

.input-group {
  border: 1px solid #e1dbdb;
  border-radius: 5px;
}

.input-group input {
  border: none;
  border-left: 1px solid #e1dbdb;
}

.fa-eye:hover {
  cursor: pointer
}

.text-right {
  text-align: right;
}

.secondary-link {
  color: #7c848b;
}

.input-group-prepend,
.input-group-append {
  display: inline;
}

.custom-checkbox {
  color: #7c848b;
  margin: 7px 0px;
}

@media only screen and (max-width: 768px) {
  .login-card {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .hide-mobile {
    display: none;
  }

  .form-container {
    padding: 40px;
    margin-left: 0px;
  }
}

.input-group {
  border: 1px solid #e1dbdb;
  border-radius: 5px;
}

.input-group input {
  border: none;
  border-left: 1px solid #e1dbdb;
}

i.fa {
  color: #80b23e;
}


.w3-input:focus {
  outline: none !important;
  border: 1px solid #80b23e;
}

.w3-input {
  border: none;
  border-left: 1px solid #e1dbdb;
}

.w3-group {
  display: flex;
  border: 1px solid #e1dbdb;
  border-radius: 5px;
}


.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: white;
  color: #80b23e;
  min-width: 30px;
  min-height: 40px;
  text-align: center;
}

/* i.fa{
  border-left:none;
  border-top: 1px solid #e1dbdb;
  border-bottom: 1px solid #e1dbdb;
  border-right: 1px solid #e1dbdb;
} */


.icon-circle {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  color: white;
  background-color: #80b23e;
}

.input-field {
  width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  outline: none !important;
  border: 1px solid #e1dbdb;
  border: none;
  border-left: 1px solid #e1dbdb;
}

.input-field:focus {
  outline: none !important;
  border: 1px solid #80b23e;
}

.btn:hover {
  opacity: 1;
}
