<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="w3-container">
  <div class="login-card-wrapper">
    <div class="w3-card login-card">
      <div class="w3-row display-flex">
        <div class="w3-col l7 hide-mobile">
          <div class="login-illustration">
            <img src="https://www.school24.net.au/assets/img/login-illustration.svg" alt="test">
          </div>
        </div>
        <div class="w3-col l5 m12">
          <div class="form-container">
            <div class="">
              <header class="w3-container w3-center" style="padding: 12px;">
                <div class="w3-row" style="border-bottom: 1px solid rgba(0,0,0,.125);">
                  <img src="https://www.school24.net.au/canteenorder/assets/school24_logo.png" alt="School24"
                    class="w3-margin-top">
                  <p class="w3-right">
                    <span style="font-size: 10px!important; color: #00f!important;">Already registered?</span>
                    <br />
                    <a [routerLink]="['/canteenorder/login']" class="text-blue w3-btn w3-green w3-round">Login</a>
                  </p>
                </div>
              </header>

              <div class="w3-container">
                <h6 class="w3-center" style="font-size: 14px; color: black;">Parents Registration</h6>
                <form role="form" [formGroup]="registrationForm" (ngSubmit)="register()">

                  <div class="w3-group w3-margin-bottom">
                    <div class="input-group-prepend">
                      <i class="fa fa-hashtag"></i>
                    </div>
                    <input autofocus class="input-field" placeholder="School ID" type="text" formControlName="schoolID">
                  </div>
                  <div class="invalid-feedback w3-text-red" style="display: block;"
                    *ngIf="registrationForm.controls.schoolID.invalid && (registrationForm.controls.schoolID.dirty || registrationForm.controls.schoolID.touched)">
                    <span *ngIf="registrationForm.controls.schoolID.hasError('required')"> School ID is
                      required.</span>
                  </div>

                  <div class="w3-group w3-margin-bottom">
                    <div class="input-group-prepend">
                      <i class="fa fa-user"></i>
                    </div>
                    <select class="w3-select w3-border" formControlName="registerAs"
                      [ngClass]="{'is-invalid': registrationForm.controls.registerAs.invalid && (registrationForm.controls.registerAs.touched || registrationForm.controls.registerAs.dirty)}">
                      <option [ngValue]="null" [disabled]="true" selected>Register As</option>
                      <option value="1">PARENT</option>
                      <option value="2">STAFF</option>
                      <option value="3">Senior student</option>
                    </select>
                  </div>
                  <div class="invalid-feedback w3-text-red" style="display: block;"
                    *ngIf="registrationForm.controls.registerAs.invalid && (registrationForm.controls.registerAs.dirty || registrationForm.controls.registerAs.touched)">
                    <span *ngIf="registrationForm.controls.registerAs.hasError('required')"> Register as is
                      required.</span>
                  </div>

                  <div class="w3-group w3-margin-bottom">
                    <div class="input-group-prepend">
                      <i class="fa fa-user"></i>
                    </div>
                    <input class="input-field" placeholder="First Name" type="text" formControlName="firstName">
                  </div>
                  <div class="invalid-feedback w3-text-red" style="display: block;"
                    *ngIf="registrationForm.controls.firstName.invalid && (registrationForm.controls.firstName.dirty || registrationForm.controls.firstName.touched)">
                    <span *ngIf="registrationForm.controls.firstName.hasError('required')"> First name is
                      required.</span>
                  </div>

                  <div class="w3-group w3-margin-bottom">
                    <div class="input-group-prepend">
                      <i class="fa fa-user"></i>
                    </div>
                    <input class="input-field" type="text" placeholder="Last Name" formControlName="lastName">
                  </div>
                  <div class="invalid-feedback w3-text-red" style="display: block;"
                    *ngIf="registrationForm.controls.lastName.invalid && (registrationForm.controls.lastName.dirty || registrationForm.controls.lastName.touched)">
                    <span *ngIf="registrationForm.controls.lastName.hasError('required')"> Last name is
                      required.</span>
                  </div>

                  <div class="w3-group w3-margin-bottom">
                    <div class="input-group-prepend">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <input class="input-field" type="email" formControlName="email" placeholder="Email">
                  </div>
                  <div class="invalid-feedback w3-text-red" style="display: block;"
                    *ngIf="registrationForm.controls.email.invalid && (registrationForm.controls.email.dirty || registrationForm.controls.email.touched)">
                    <span *ngIf="registrationForm.controls.email.hasError('required')"> Email is
                      required.</span>
                  </div>

                  <div class="w3-group w3-margin-bottom">
                    <div class="input-group-prepend">
                      <i class="fa fa-mobile"></i>
                    </div>
                    <input class="input-field" type="text" formControlName="mobileNumber" placeholder="Mobile No.">
                  </div>
                  <div class="invalid-feedback w3-text-red" style="display: block;"
                    *ngIf="registrationForm.controls.mobileNumber.invalid && (registrationForm.controls.mobileNumber.dirty || registrationForm.controls.mobileNumber.touched)">
                    <span *ngIf="registrationForm.controls.mobileNumber.hasError('required')"> Mobile no is
                      required.</span>
                  </div>


                  <div class="w3-group w3-margin-bottom">
                    <div class="input-group-prepend">
                      <i class="fa fa-key"></i>
                    </div>
                    <input class="input-field" type="password" formControlName="password" placeholder="Select Password">
                  </div>
                  <div class="invalid-feedback w3-text-red" style="display: block;"
                    *ngIf="registrationForm.controls.password.invalid && (registrationForm.controls.password.dirty || registrationForm.controls.password.touched) && registrationForm.controls.password.hasError('required')">
                    Password is required.
                  </div>

                  <div class="input-container">
                    <input class="w3-check" type="checkbox" (change)="checkbox($event)" id="agree"
                      formControlName="agree">
                    &nbsp;

                    Agree To <a target="_blank"
                      href="https://www.school24.net.au/contentbase/terms_and_conditions.html"> &nbsp;Terms
                      &amp; conditions</a>

                  </div>

                  <a target="_blank" href="https://www.school24.net.au/contentbase/privacy.html" class="">Privacy
                    Policy</a>
                  <br />

                  <div class="input-container">
                    <span>
                      <button class="w3-button w3-green w3-btn w3-round" type="submit" [disabled]="agree == 0">Submit</button>
                    </span>
                    <br>
                  </div>
                  <br />
                  <br />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
