<div class="w3-row-padding uniform-css inner-wrapper">
  <div class="w3-col l3 m3 s12 pl-0">
    <uniform-categories></uniform-categories>
    <!--<button class="w3-btn w3-large w3-theme w3-card-4 floating-button" (click)="displayHistory()" style="width: 100%">History</button>-->
  </div>
  <div class="w3-col l9 m9 s12 uniform-product pr-0">
    <!--<uniform-news></uniform-news>-->
    <ul class="breadcrumb m-0">
      <!-- Breadcrumb Added -->
      <li>Home</li>
      <li>Categories</li>
      <li class="active">{{categoryName}}</li>
    </ul>
    <products></products>
  </div>
</div>

<uniform-cart *ngIf="showCart"></uniform-cart>
<button *ngIf="obsDisplayCartIcon | async" class="w3-btn w3-xlarge w3-circle theme-color w3-card-4 floating-button"
  (click)="displayCart()">
  <i class="fa fa-shopping-cart"></i>
  <span class="cartCnt">{{cartCount}}</span>
</button>
