
   ul.breadcrumb {
    padding:0px 6px 6px;
    list-style: none;
    list-style: none;
    background-color: transparent;
    color: #1e35b0;
    margin-left: 10px;
  }
  ul.breadcrumb li.active{
    color: #8d8a8a;
    cursor:default;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    cursor: pointer;
  }

  ul.breadcrumb li+li:before {
    padding: 6px;
    color: #1e35b0;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }

  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


  .uniform-product{
    padding-top: 1px;
    position:relative;
  }
  @media screen and (max-width:600px){
    .uniform-product{
      padding: 10px 0;
    }
    .product-otr{
      padding: 0 0 10px;
    }
    }
    
    .floating-button{
      bottom: 25px;
      font-size: 17px;
      right: 25px;
      position: fixed;
      z-index: 5;
      width: 60px;
      height: 60px;
      padding: 5px 11px 0 0;
    }
    .cartCnt{
      position: absolute;
      font-size: 11px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      top: 14px;
      color: #fff;
      background: rgba(255,0,0,.85);
      text-align: center;
      right: 9px;
      line-height: 20px;
    }