<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div style="margin: 30px 0 0;">
<ul *ngFor="let meal of meals; let i = index" class="menu">  
    <li (click)="showHideSubMenu(meal)">
      <a>
        <i class="fa fa-cutlery"></i> {{meal.name}}</a>
    </li>
    <li class="sub-menu">
      <ul *ngIf="meal?.categories.length==0">
        <li *ngIf="!meal.showHideMeal">
            <a class="w3-bar-item">                
           <i class="fa fa-hand-o-right"></i> Not Available <br>
           <i style="color: red;"><small>Cut-off time passed for today</small></i>
          </a>
        </li>
      </ul>
      <ul let *ngFor="let category of meal?.categories; let j = index">
        <li *ngIf="!meal.showHideMeal" (click)="fetchProducts(category.categoryID, meal.mealCode, meal.name, category.catdescription)">
          <a href="javascript:void(0);" class="w3-bar-item">
            <i class="fa fa-hand-o-right"></i> {{category.catdescription}}</a>
        </li>
      </ul>
      </li>
</ul>
</div>