
@media (min-width: 600px){
    .model-content-width {
         width: 315px;
    }
}

a {
    color: black;
    text-decoration: none;
}

.w3-dropdown-content{
    min-width: 200px;
}

@media only screen and (max-width: 600px) {
    .order-table {
      display: none;
    }
  }
  
  @media only screen and (min-width: 601px) {
    .order-table-mobile {
      display: none;
    }
  }

  .order-histroy-student-image{
    border-radius: 11px;
    width:55px;
  }

  .label-color{
    color: #b9b9b9;
  }

  .w3-btn{
    padding: 6px 11px !important;
    margin: 2px;
  }

  .w3-bar-item, .w3-button{
    cursor: pointer;
  }

  .active-order{
    background-color: #fff;
    color: #3f51b5;
  }


