<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-container" style="padding-top:56px;position: relative;">

  <div class="w3-col m12 order-table-mobile">
    <!-- <h4 class="w3-center">YOUR {{orderHistoryType}}</h4> -->
    <div class="w3-row">
      <div class="w3-half">
        <p>Filter by Order Type</p>
        <select class="w3-input w3-border w3-half w3-round" (change)="filterChanged($event.target.value)">
          <option value="all">All Orders</option>
          <option value="canteen">Canteen</option>
          <option value="event">Event</option>
          <option value="uniform">Uniform</option>
        </select>
      </div>
      <div class="w3-half">
        <p>Search Orders</p>
        <input type="text" placeholder="Search by Order id or student name" class="w3-input w3-border w3-half w3-round"
          (input)="onSearchChange($event.target.value)">
      </div>
    </div>
    <hr class="hr-style" />
    <div class="w3-card-2 w3-round w3-white" *ngFor="let order of combinedOrders" style="margin-bottom: 8px;">
      <div class="w3-container w3-padding ">

        <div class="w3-row mobile-grid-row">
          <div class="w3-col s3 m3">
            <img src="https://www.school24.net.au/canteenorder/assets/img/stu_avatar.png"
              class="w3-bar-item w3-circle order-histroy-student-image">


          </div>
          <div class="w3-col s7 m7">
            <h4>{{order.studentName}}</h4>
            <h5>#{{order.orderId}}</h5>
            <h5 *ngIf="order.adminComments">Admin comment: {{order.adminComments}}</h5>
            <h5 *ngIf="order.combinedOrderType == 2">{{order.stageStatus}}</h5>

          </div>

          <div class="w3-col s2 m2">
            <span class="w3-tag w3-blue"
              *ngIf="order.combinedOrderType == 1 && order.isSpecialOrder == false">CANTEEN</span>
            <span class="w3-tag w3-red"
              *ngIf="order.combinedOrderType == 1 && order.isSpecialOrder == true">EVENT</span>
            <span class="w3-tag w3-red"
              *ngIf="order.combinedOrderType == 1 && order.isFundRaisingEvent == true">FUNDRAISING</span>
            <span class="w3-tag w3-teal" *ngIf="order.combinedOrderType == 2">UNIFORM</span>
          </div>
        </div>
        <hr />
        <div class="w3-row">
          <div class="w3-col w3-half" style="width: 50%">
            <ng-container *ngIf="order.combinedOrderType == 1; else uniformDate">
              <span class="label-color">Delivery Date</span>
              <br />
              <span>{{order.deliveryDate | date }}</span>
            </ng-container>
            <ng-template #uniformDate>
              <span class="label-color">Order Date</span>
              <br />
              <span>{{order.orderDate | date }}</span>
            </ng-template>
          </div>
          <div class="w3-col w3-half" style="width: 50%">
            <span class="label-color">Order Amount</span>
            <br />
            <span>{{order.orderAmount | currency: currency :true:'1.2-4'}}</span>
          </div>

        </div>

        <hr />
        <div class="w3-row" style="width:100%;">

          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <ng-container *ngIf="order.combinedOrderType == 1; else uniformActions">


                <button type="button" class="w3-btn w3-theme" (click)="displayDetails(order)">
                  <i class="fa fa-eye" style="font-size:18px" title="DETAILS"></i> VIEW
                </button>

                <button type="button" class="w3-btn" (click)="removeFromFavourite(order.orderId)"
                  *ngIf="!order.isSpecialOrder && order.isFavouriteOrder" [disabled]="order.isSpecialOrder"
                  style="background-color: #FFF;color:red; border:1px solid #ddd;">
                  <i class="fa fa-heart" style="font-size:18px" title="REMOVE FROM FAVOURITE"></i>
                </button>

                <button type="button" class="w3-btn" (click)="saveFavourite(order.orderId)"
                  *ngIf="!order.isFavouriteOrder && !order.isSpecialOrder" [disabled]="order.isSpecialOrder"
                  style="background-color: white;color:grey">
                  <i class="fa fa-heart" style="font-size:18px" title="SAVE AS FAVOURITE"></i>
                </button>

                <button *ngIf="!order.isSpecialOrder" type="button" class="w3-btn w3-red"
                  (click)="cancelOrder(order.orderId)">
                  <i class="fa fa-close" style="font-size:18px" title="CANCEL"></i> CANCEL
                </button>

                <button *ngIf="order.isSpecialOrder " type="button" class="w3-btn w3-theme w3-round"
                  (click)="getDetailsAndPrint(order)">
                  <i class="fa fa-print" style="font-size:18px" title="Print"></i>
                </button>

                <button *ngIf="order.isSpecialOrder && order.eventType == 'EVENT'" type="button" class="w3-btn w3-red"
                  (click)="cancelCanteenEventOrder(order.orderId)">
                  <i class="fa fa-close" style="font-size:18px" title="Cancel"></i>
                </button>

                <button *ngIf="order.isSpecialOrder && order.eventType == 'SCHOOL'" type="button" class="w3-btn w3-red"
                  (click)="cancelSchoolEventOrder(order.orderId)">
                  <i class="fa fa-close" style="font-size:18px" title="Cancel"></i>
                </button>

                <button *ngIf="!order.isSpecialOrder" type="button" class="w3-btn w3-theme"
                  (click)="showDatePopUp(order)">
                  RE-ORDER
                </button>
              </ng-container>

              <ng-template #uniformActions>
                <button type="button" class="w3-btn w3-theme w3-round" (click)="displayUniformOrderDetails(order)"
                  style="cursor: pointer;">
                  [ &nbsp;View &nbsp;]
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-col m12 order-table">
    <div class="w3-card-2 w3-round w3-white">
      <div class="w3-container w3-padding table-responsive">
        <!-- <h4 class="w3-center">YOUR {{orderHistoryType}}</h4> -->
        <div class="w3-row">
          <div class="w3-half">
            <p>Filter by Order Type</p>
            <select class="w3-input w3-border w3-half w3-round" (change)="filterChanged($event.target.value)">
              <option value="all">All Orders</option>
              <option value="canteen">Canteen</option>
              <option value="event">Event</option>
              <option value="uniform">Uniform</option>
            </select>
          </div>
          <div class="w3-half">
            <p>Search Orders</p>
            <input type="text" placeholder="Search by Order id or student name"
              class="w3-input w3-border w3-half w3-round" (input)="onSearchChange($event.target.value)">
          </div>
        </div>
        <hr class="hr-style" />
        <table class="table table-bordered w3-hoverable" [mfData]="combinedOrders | dataFilter : filterQuery"
          #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <th>Order Id</th>
              <th>Student Name</th>
              <th>Order Amount</th>
              <th>Delivery Date</th>
              <th>Order Date</th>
              <th>Order Status (UNIFORM)</th>
              <th>Admin Comments</th>
              <th style="width:300px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of mf.data">
              <td>
                {{order.orderId}}
                <span class="w3-tag w3-blue"
                  *ngIf="order.combinedOrderType == 1 && order.isSpecialOrder == false">CANTEEN</span>
                <span class="w3-tag w3-red"
                  *ngIf="order.combinedOrderType == 1 && order.isSpecialOrder == true">EVENT</span>
                <span class="w3-tag w3-green"
                  *ngIf="order.combinedOrderType == 1 && order.isFundRaisingEvent == true">FUNDRAISING</span>
                <span class="w3-tag w3-teal" *ngIf="order.combinedOrderType == 2">UNIFORM</span>
              </td>
              <td>{{order.studentName}}</td>
              <td>{{order.orderAmount | currency: currency :true:'1.2-4'}}</td>
              <td>{{order.deliveryDate | date }}</td>
              <td>{{order.orderDate | date }}</td>
              <td>{{order.stageStatus}}</td>
              <td><span *ngIf="order.adminComments">{{order.adminComments}}</span></td>
              <td *ngIf="order.combinedOrderType == 2">
                <button type="button" class="w3-btn w3-theme w3-round" (click)="displayUniformOrderDetails(order)"
                  style="cursor: pointer;">
                  [ &nbsp;View &nbsp;]
                </button>
              </td>
              <td *ngIf="order.combinedOrderType == 1">
                <button type="button" class="w3-btn w3-theme" (click)="displayDetails(order)">
                  <i class="fa fa-eye" style="font-size:18px" title="DETAILS"></i>
                </button>

                <button *ngIf="!order.isSpecialOrder && order.isFavouriteOrder" type="button" class="w3-btn"
                  (click)="removeFromFavourite(order.orderId)" [disabled]="order.isSpecialOrder"
                  style="background-color: #FFF;color:red; border:1px solid #ddd;">
                  <i class="fa fa-heart" style="font-size:18px" title="REMOVE FROM FAVOURITE"></i>
                </button>

                <button *ngIf="!order.isFavouriteOrder && !order.isSpecialOrder" type="button" class="w3-btn"
                  (click)="saveFavourite(order.orderId)" [disabled]="order.isSpecialOrder"
                  style="background-color: white;color:grey">
                  <i class="fa fa-heart" style="font-size:18px" title="SAVE AS FAVOURITE"></i>
                </button>

                <button *ngIf="!order.isSpecialOrder" type="button" class="w3-btn w3-red"
                  (click)="cancelOrder(order.orderId)">
                  <i class="fa fa-close" style="font-size:18px" title="CANCEL"></i>
                </button>

                <button *ngIf="!order.isSpecialOrder" type="button" class="w3-btn w3-theme"
                  (click)="showDatePopUp(order)">
                  RE-ORDER
                </button>

                <button *ngIf="order.isSpecialOrder " type="button" class="w3-btn w3-theme w3-round"
                  (click)="getDetailsAndPrint(order)">
                  <i class="fa fa-print" style="font-size:18px" title="Print"></i>
                </button>

                <button *ngIf="order.isSpecialOrder && order.eventType == 'SCHOOL'" type="button" class="w3-btn w3-red"
                  (click)="cancelSchoolEventOrder(order.orderId)">
                  <i class="fa fa-close" style="font-size:18px" title="Cancel"></i>
                </button>

                <button *ngIf="order.isSpecialOrder && order.eventType == 'EVENT'" type="button" class="w3-btn w3-red"
                  (click)="cancelCanteenEventOrder(order.orderId)">
                  <i class="fa fa-close" style="font-size:18px" title="Cancel"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<br /><br />


<div *ngIf="showUniformDetails" class="w3-modal" style="display:block;overflow-y:scroll;padding-top: 50px;">
  <div class="w3-modal-content">
    <header class="w3-container w3-theme">
      <span (click)="hideUniformDetails()" class="w3-closebtn w3-display-right">&times;</span>
      <h2 class="w3-center">
        Order Details
      </h2>
    </header>
    <br>
    <div class="w3-container">
      <div class="w3-responsive">
        <table class="w3-table w3-bordered w3-border">
          <tr>
            <th>Item Code</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Color</th>
            <th>Price</th>
            <th>Comment</th>
            <th>Total</th>
          </tr>
          <tr *ngFor="let details of orderDetails">
            <td>{{details.productId}}</td>
            <td>{{details.productName}}</td>
            <td>{{details.quantity}}</td>
            <td>
              <div *ngIf="details.isUniformPack != 0">
                <span *ngFor="let item of details.uPackDetails">
                  {{item.name}}
                  <span *ngIf="item.size != null">
                    : {{item.size}}
                  </span>
                  <span *ngIf="item.size == null">
                    : None
                  </span>
                  <br></span>
              </div>
              {{details.sizeOptions}}
            </td>
            <td>
              <div *ngIf="details.isUniformPack != 0">
                <span *ngFor="let item of details.uPackDetails">
                  {{item.name}} 
                  <span *ngIf="item.color != null">
                    : {{item.color}}
                  </span>
                   
                  <span *ngIf="item.color == null">
                    : None
                  </span>
                  <br></span>
              </div>
              {{details.colorOptions}}
            </td>
            <td>{{details.price | currency: currency :true:'1.2-4'}}</td>
            <td>{{uniformOrderComment}}</td>
            <td>{{details.total | currency: currency :true:'1.2-4'}}</td>
          </tr>
          <tr style="border-bottom-style:hidden;border-left-style:hidden;border-right-style:hidden;" *ngIf="orderDetails && orderDetails[0].collectionOptionType">
            <td>Collection Option</td>
            <td>{{orderDetails[0].collectionOptionType}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Delivery Fee: </td>
            <td>{{orderDetails[0].deliveryFee | currency: currency :true:'1.2-4'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <footer class="w3-container w3-theme">
      <h5>Order# &nbsp; {{uniformOrderId}}</h5>
    </footer>
  </div>
</div>


<div *ngIf="showDetails" class="w3-modal" style="display:block;overflow-y:scroll;padding-top: 50px;">
  <div class="w3-modal-content">
    <header class="w3-container w3-theme">
      <span (click)="hideDetails()" class="w3-closebtn w3-display-right">&times;</span>
      <h2 class="w3-center">
        Order Details
      </h2>
    </header>
    <div class="w3-container">
      <order-details [order]="order" (stopSpinner)="stopSpinner()"></order-details>
      <p></p>
    </div>
    <footer class="w3-container w3-theme">
      <h5>Order# {{order?.orderId}}</h5>
    </footer>
  </div>
</div>
<div *ngIf="datePopup" class="w3-modal w3-card-4" style="display:block;overflow-y:scroll;">
  <div class="w3-modal-content model-content-width">
    <header class="w3-container">
      <span (click)="hideDatePopup()" class="w3-closebtn w3-display-right">&times;</span>
    </header>
    <div class="w3-container">
      <div class="w3-padding-small">
        <div class="w3-padding-small">
          <date-picker [options]="dateOptions" (selectedDate)="dateChanged($event)"></date-picker>
          <button class="w3-btn w3-green" [disabled]="orderDate == null || orderDate == undefined"
            style="width:100%; margin-top:5px;" (click)="repeatOrder()">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="print-section" hidden="true">
  <div class="left-padding">
    <p style="color:rgb(33, 151, 230)">Please print and bring this ticket with you </p>
    <table>
      <tr>
        <th>Event</th>
        <td>{{order.eventName}}</td>
      </tr>
      <tr>
        <th>Order/Ticket#{{order.orderId}}</th>
        <td>
          <ngx-barcode [bc-value]="order.orderId" [bc-display-value]="false" [bc-height]="30" [bc-format]="'CODE39'">
          </ngx-barcode>
        </td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{order.deliveryDate | date : 'fullDate'}}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td></td>
      </tr>
    </table>

    <table class="table-border">
      <tr>
        <th>STUDENT/PARENT DETAILS </th>
        <th>ORDER DETAILS</th>
      </tr>
      <tr>
        <td>Account Name:
          <b>{{parent.firstName+" "+parent.lastName}}</b>
          <br> Class:
          <b>{{order.studentClass}}</b>
        </td>
        <td>Order Number: {{order.orderId}}
          <br> Ordered on: {{order.orderDate | date : 'fullDate'}}
          <br> Amount Paid: ${{order.orderAmount }}
        </td>
      </tr>
    </table>

    <table class="table-border">
      <caption>
        <b>Order Products Details</b>
      </caption>
      <tr>
        <th>Product</th>
        <th>Options</th>
        <th>Quantity</th>
      </tr>
      <tr *ngFor="let orderItem of orderItems">
        <td>{{orderItem.productName}}</td>
        <td>{{orderItem.productOptions}}</td>
        <td>{{orderItem.quantity}}</td>
      </tr>
    </table>
    <div *ngIf="orderIdString" class="margin-top">
      <qrcode [qrdata]="orderIdString" [size]="256" [level]="'H'"></qrcode>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
