<div class="w3-row content-container text-center">

</div>
<div class="w3-row-padding  w3-center " style="padding-top: 70px; position: relative;">
  <div class="w3-bar w3-border s24-bar">
    <span><a [routerLink]="['../home']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
        style="white-space: nowrap;text-decoration: none;"><i class="fa fa-home ">
        </i></a></span>
    <span><a [routerLink]="['../students']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
        style="white-space: nowrap;text-decoration: none;">Students</a></span>
    <span><a [routerLink]="['../user-profile']" class="w3-bar-item w3-button w3-hover-text-grey w3-text-white"
        style="white-space: nowrap;text-decoration: none;">Profile</a>
    </span>
  </div>
</div>