<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="category-wrapper">
  <button (click)="showCategories()" class="w3-btn  w3-block w3-left-align btn category-btn">Categories
    <i class="fa fa-minus w3-right categories-icon" *ngIf="!displayCategories"></i>
    <i class="fa fa-plus w3-right categories-icon" *ngIf="displayCategories"></i>
  </button>
  <div *ngIf="!displayCategories" class="categories">
    <div class="w3-container" *ngFor="let Category of Categories">
      <p>
        <a href="javascript:void(0);" (click)="loadProducts(Category.categoryId, Category.name)" class=""
          [ngClass]="{'active-link':Category.categoryId==selectedCategoryId}">{{Category.name}}</a>
      </p>
      <hr>
    </div>
  </div>
</div>
