a {
    text-decoration: none;
    color: #000;
}
.active-link{
    color: #25476a;
}
.categories-icon{
    padding-top: 3px;
}
hr{
    margin: 0px !important;
}
.category-wrapper{
    border: 1px solid #25476a;
}
.category-wrapper .category-btn{
    width: 100%;
    background: #25476a;
}
.w3-btn:hover, .w3-btn-block:hover, .w3-btn-floating:hover, .w3-btn-floating-large:hover {
    box-shadow:none;
}
.categories p{
    margin: 8px 0;
    font-size: 13px;
}
.categories {
    background: #ffffff;
}