.w3-modal{
    padding-top: 170px;
  }
  
  .w3-modal-content {
      width: 400px;
      border-radius: 8px;
  }
  
  .modal-body-height{
    height: 100%;
  }

  .w3-round-xlarge {
    border-radius: 16px;
  }

  .w3-border {
    border: 1px solid #ccc!important;
}

.w3-container{
   border-radius: 8px;
}