<div *ngFor="let alert of alerts" class="w3-modal" style="display:block;">
    <div class="w3-modal-content">
        <header class="{{ cssClass(alert) }} alert-dismissable  w3-container border_radius"><!--{{ cssClass(alert) }} alert-dismissable-->
            
            <span (click)="removeAlert(alert)" class="w3-closebtn w3-display-right">&times;</span>
            <h4 class="w3-left">
                    <i class="fa fa-rocket" style="font-size:24px"></i>&nbsp;&nbsp;
                <b>{{Type}}</b>
            </h4>
        </header>
        <div class="w3-container modal-body-height">
            <h4 class="w3-left"> {{alert.message}}</h4><br><br>
            <div *ngIf="!confirm">
            <button class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge w3-right" (click)="removeAlert(alert)"> ok</button>
            </div>
        </div>
        <div class="w3-container" *ngIf="confirm">
            <div class="w3-row-padding">
                <div class="w3-col m6">
                    <button class="w3-btn w3-indigo w3-large w3-hover-red" style="width:98%;margin: 5px;" (click)="confirmAlert(alert,true)">Yes</button>
                </div>
                <div class="w3-col m6">
                    <button class="w3-btn w3-indigo w3-large w3-hover-blue" style="width:98%;margin: 5px;" (click)="confirmAlert(alert,false)">No</button>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>