<nav class="w3-sidenav w3-card-2  w3-top w3-xlarge w3-animate-right sidenav">
    <ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="w3-card w3-white cart shopping-cart">
        <header class="w3-container cart_header theme-color">
            <h4 class="w3-left">
                <span class="icons"> 
                    <i class="fa fa-shopping-cart w3-xlarge"></i></span> Cart
            </h4>
            <a href="javascript:void(0)" (click)="hideCartBarComponent()" class="w3-closenav w3-right">
                <i class="fa fa-close"></i>
            </a>
        </header>
        <div class="w3-container item-wrapper">
            <div class="w3-responsive">
            <div *ngIf="isCartEmpty" class="w3-margin-top">
                <h2 class="w3-center message">{{retrievingMsg}}</h2>
            </div>
            <div *ngIf="!isCartEmpty">               
                <ng-container *ngFor="let studentCart of cart">
                    <div class="students">                           
                        <h3 class="w3-margin-bottom"><i class="fa fa-user"></i> {{studentCart.studentName}}</h3>
                        <table class="checkout_table">
                            <thead>
                                <tr>
                                    <th class="text-left" style="width:60%">Product Information</th>
                                    <th class="text-center" style="width:15%">Quantity</th>
                                    <th class="text-center" style="width:20%" *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">Price</th> 
                                    <th style="width:5%"></th>                  
                                </tr>
                            </thead>
                            <tbody>                            
                                <tr *ngFor="let product of studentCart.canteenShopcarts; let i = index">
                                        <td style="width:60%">
                                            <div class="item-name">{{product.productName}}</div>     
                                            <div class="clearfix">                       
                                                <span class="value float-left">{{product.mealName}}</span> 
                                            </div>   
                                            <div *ngIf="product?.options.length>0" class="clearfix">
                                                <span *ngFor="let option of product.options" class="value float-left">{{option.optionName1}},</span>
                                            </div>
                                        </td>         
                                        <td class="text-center" style="width:15%">
                                                <table>
                                                    <tr>
                                                        <td class="b-0 p-0" style="width: 60%;text-align: right;">
                                                            <span class="value">{{product.productQuantity}}</span>
                                                        </td>
                                                        <td style="width: 40%;min-width: 40px;" class="reduce-quantity b-0">
                                                                <span *ngIf="product?.productQuantity>1" class="reduce-btn">
                                                                        <button type="button" class="custom-btn" rel="tooltip" title="Click here to reduce Quantity" (click)="deleteCartItem(product.id,true,'QUANTITY')">
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                        </button>
                                                                    </span>                                                              
                                                        </td>                                                       
                                                    </tr>
                                                </table>  
                                        </td>
                                        <td class="text-center" style="width:20%" *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">
                                                <span class="value">{{product.productPrice | currency:currency:true:'1.2-4'}}</span>                                         
                                        </td>
                                        <td class="text-right" style="width:5%">                        
                                                <button type="button" class="custom-btn" rel="tooltip" title="Click here to delete Item" (click)="deleteCartItem(product.id,true,'PRODUCT')">
                                                        <i class="fa fa-close"></i>
                                                </button>
                                        </td>
                                    </tr>
                                    <!-- <td>{{product.productQuantity}}x {{product.productName}}
                                    </td>
                                    <td>{{product.mealName}}</td>
                                    <td *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">{{product.productPrice | currency:currency:true:'1.2-4'}}</td>
                                    <td>
                                        <span *ngIf="product?.productQuantity>1" style="padding-right:5px;">
                                            <button type="button" class="custom-btn" rel="tooltip" title="Reduce quantity" (click)="deleteCartItem(product.id,true,'QUANTITY')">
                                                <i class="fa fa-minus-circle" style="color: red; font-size: larger;"></i>
                                            </button>
                                        </span>
                                        <button type="button" class="custom-btn" rel="tooltip" title="Remove" (click)="deleteCartItem(product.id,true,'PRODUCT')">
                                            <i class="fa fa-times-circle-o" style="color: red; font-size: larger;"></i>
                                        </button>
                                    </td> -->
                               
                                <!--
                                <tr>
                                    <div class="w3-tooltip"*ngIf="product?.options.length>0">
                                        <h6 class="w3-text" *ngFor="let option of product.options" style="width:100%;">{{option.optionName1}},</h6>
                                        <h6 alt="Option" style="width:100%; color:blue;margin: 0px;"> See Options
                                            <div *ngFor="let option of product.options">
                                                <span style="position:absolute;left:0;top:100%;width:400px" class="w3-text w3-tag w3-green" >
                                                        {{option.optionName1}},
                                                </span>
                                            </div>
                                        </h6>
                                    </div>
                                </tr>
                            -->
                         
                                <!-- <tr>
                                    <td colspan="4" *ngIf="product?.options.length>0">
                                        <div class="w3-dropdown-hover">
                                            
                                       <h6 style="width:100%; color:blue;margin: 0px;background-color: #eeeef3;">Options</h6>
                                            <div class="w3-dropdown-content  w3-card-4" style="width:100%;word-wrap: break-word; background-color: #eeeef3;">
                                                <span *ngFor="let option of product.options">{{option.optionName1}},</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr> -->

                            </tbody>
                        </table>                          
                    </div>
                </ng-container>

           
    </div>
    </div>
</div>
            <div class="cart-footer">
                    <div class="total" *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">
                        <b>Grand Total : {{grandTotal | async | currency:currency:true:'1.2-4'}} </b>
                    </div>
                    
                    <div class="clearfix">
                        <button type="button" class="w3-btn w3-margin-bottom btn float-left cancel-btn" (click)="deleteCartItem(0,false,'CART')"
                        [disabled]="isCartEmpty">                    
                                <i class="fa fa-trash-o"></i> Empty Cart
                        </button>
                        <button type="button" class="w3-btn w3-margin-bottom btn float-right save-btn theme-color" (click)="checkOut()" [disabled]="isCartEmpty">                  
                                <i class="fa fa-check-square-o"></i> Proceed to Checkout
                        </button>
                    </div>
                </div>


            <!-- <div class="w3-center" *ngIf="this.orderType != 'event' || (this.orderType == 'event' && this.isSetPrice != 1)">
                <b>GRAND TOTAL : {{grandTotal | async | currency:currency:true:'1.2-4'}} </b>
            </div>
            <br>
            <div class="w3-center">
                <button type="button" class="w3-btn w3-margin-bottom w3-red" style="width:100%;" (click)="deleteCartItem(0,false,'CART')"
                    [disabled]="isCartEmpty">
                    <h6>
                        <i class="fa fa-trash-o"></i> EMPTY CART</h6>
                </button>
                <button type="button" class="w3-btn w3-margin-bottom w3-green" style="width:100%;" (click)="checkOut()" [disabled]="isCartEmpty">
                    <h6>
                        <i class="fa fa-check-square-o"></i> PROCEED TO CHECKOUT</h6>
                </button>
            </div> -->
     </div> 
</nav>