<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-container checkout-wrapper">
  <div class="w3-content w3-panel w3-border">
    <header class="w3-container theme-color">
      <h4 class="w3-center">#Order Confirmation</h4>
    </header>
    <div class="w3-padding-small clearfix">
      <uniform-cart [cartMode]="cartMode" (selectedStudentEmt)="onStudentChanged($event)"
        (commentsEmt)="onCommentUpdate($event)" (selectedCollectionOptionEmt)="onCollectionOptionChanged($event)"
         (specifiedAddressEmt)="onUniformAddressChanged($event)">
      </uniform-cart>
      <div class="grand-total w3-col s12 text-center">
        <div *ngIf="(basketItems?.length > 0)">
          <div class="total w3-margin-0">
            <b>Total Amount to Pay : {{cartTotal | currency: currency :true:'1.2-4'}}</b>
          </div>
        </div>

        <div *ngIf="(basketItems?.length > 0)" class="w3-center">
          <div class="w3-row">
            <div class="w3-col m12 l12 s12">
              <br />
              <span *ngIf="cartTotalLessThanCredit && isPayUsingBalanceEnabled" class="w3-center"
                style="padding-right:10px;">
                <button type="button" class="w3-btn w3-margin-bottom btn save-btn" (click)="pay()"
                  [disabled]="payButtonClicked || !selectedStudentParent">PAY
                  USING BALANCE</button>
              </span>


              <button *ngIf="topupmethod.indexOf('4') > -1" type="button" class="w3-btn w3-margin-bottom btn save-btn"
                (click)="stripePay()" [disabled]="payButtonClicked || !selectedStudentParent"><i
                  class="fa fa-credit-card"></i> Pay by Credit Card</button>

              <button *ngIf="topupmethod.indexOf('2') > -1 || topupmethod.indexOf('3') > -1" type="button"
                class="w3-btn w3-margin-bottom btn save-btn" (click)="showDirectDeposit()"
                [disabled]="payButtonClicked || !selectedStudentParent"><i class="fa fa-credit-card"></i> Direct
                Deposit</button>


              <!-- <a href="javascript:void(0);" *ngIf="topupmethod.indexOf('2') > -1 || topupmethod.indexOf('3') > -1"
                (click)="showManualPay()">How to pay Manually</a> -->

              <div *ngIf="!selectedStudentParent" style="color: red;">
                Select student to continue
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showManual" class="w3-modal" id="divManualInfo"
        [style.display]="(showManual == false) ? 'none' : 'block' ">
        <div class="w3-modal-content">
          <header class="w3-container theme-color">
            <span (click)="hideManualPay()" class="w3-closebtn w3-display-right">&times;</span>
            <h2>Bank Details</h2>
          </header>
          <div class="w3-container text-wrapper">
            <div>Please transfer your payment to the {{shop}} and email the receipt to {{accountEmail}}.
              Your order WILL NOT be processed until payment confirmation has been received. </div><br />
            <div>
              The uniform shop account details are,
            </div><br />
            Bank :: {{bank}}<br />
            BSB :: {{bankBSB}}<br />
            Account :: {{bankAccount}}
          </div>
        </div>
      </div>

      <div *ngIf="showDirectDeposite" class="w3-modal" id="divManualInfo"
        [style.display]="(showDirectDeposite == false) ? 'none' : 'block' ">
        <div class="w3-modal-content">
          <header class="w3-container theme-color">
            <span (click)="hideDirectDeposit()" class="w3-closebtn w3-display-right">&times;</span>
            <h2>Bank Details</h2>
          </header>
          <div class="w3-container text-wrapper">
            <div>Please manually transfer your payment to the Uniform Shop via the account details below. 
              Can you please include reference of your Last Name and Order Number so we know who has paid. 
              Your order WILL NOT be processed until payment confirmation has been received.</div><br />
            <div>
              The uniform shop account details are: 
            </div><br />
            Bank :: {{bank}}<br />
            BSB :: {{bankBSB}}<br />
            Account :: {{bankAccount}}
          </div>
          <div class="w3-center">
            <div class="w3-row">
              <div class="w3-col m12 l12 s12">
                <button *ngIf="topupmethod.indexOf('2') > -1 || topupmethod.indexOf('3') > -1" type="button"
                  class="w3-btn w3-margin-bottom btn save-btn" (click)="manualPay()"
                  [disabled]="payButtonClicked || !selectedStudentParent">Place order</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


  <app-stripe *ngIf="showStripeModal" [paymentDetails]="stripePaymentData" [paymentIntent] ="paymentIntent" [customerStripeDetails]="customerStripeDetails" (closeModal)="showStripeModal = false"
  (stripeCallback)="stripeCallback($event)"></app-stripe>
