@media screen and (max-width:700px){
    .align-left {
        float: left;
    }
    .additional-info .w3-col.s5, .additional-info .w3-col.s7{
        width: 100% !important;
    }
    .checkout-wrapper{
        padding-top: 56px !important;
    }
}

@media screen and (min-width:700px){
    .align-right {
        float: right;
    }
}
.checkout-wrapper{
    padding-top: 100px;
}
.w3-content.w3-panel{
    background: #ffffff;
}
.total{
    font-size: 17px;
    margin: 0 0 10px;
    padding: 12px 0;
}
.w3-border {
    border: 1px solid #c9c9c9!important;
}
.cancel-btn{
    width: 170px;
}
