
.item-area {
  width: 100%;
  position: relative;
}
.product-image-area::before {
  content: "";
  display: block;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top : 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  height:220px;
}
.product-image-area {
  border-bottom: 1px solid #dddddd;
}
.item-area a.quickview-icon {
  background-color: #000000;
  top: 0;
  margin-top: 0;
  text-transform: inherit;
  width: auto;
}
a.quickview-icon {
z-index:2;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  text-align: center;
  padding:10px 13px;
color:#fff;
  background: none;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
opacity: 0;
  visibility: hidden;
}

.item img {
  max-width: 100%;
}
.product-image-area .actions {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  text-align: left;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s;
}
.details-area {
  /*padding: 20px 0;*/
  text-align: center;
  padding: 0 5px 5px;
}
.product-name {
  margin: 6px 0;
  font-size: 14px;
  font-weight: bold;
  /* padding: 0 10px; */
  color: #0a0a0a;
  height: 73px;
}
.product-name a{
color:#589CC3;
}

.price-box {
  margin: 0 0 12px;
}
.regular-price .price {
  font-weight: 600;
  font-size: 14px;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.details-area {
  text-align: center;
}
.details-area .actions {
  display: block;
}
.actions a.addtowishlist {
  position: relative;
  right: -37px;
}
.actions a.addtocart {
  color: #333;
  background-color: #fff;
  font-size: 14px;
  padding: 5px 18px 3px 20px;
  display: inline-block;
  height: 40px;
  line-height: 30px;
  border-radius: 0;
  border: 1px solid #ccc;
  
}
.item-area:hover a.quickview-icon {
  opacity: 1;
  visibility: visible;
}
.item-area:hover a.addtocart{
color:#fff;
background:#333;
}







.regular-price {
  color: #444;
}
.prod-dimenssions {
  width: 100%;
  
  margin: 0 auto;
  text-align: center;
  opacity: 1;

overflow:hidden;

}

.item-area:hover .prod-dimenssions { 
opacity:1;
}
.prod-dimenssions .cust-select {

  width: 100%;
  
  display:initial;
  vertical-align: middle;
  color: #333;
  font-size: 12px;
  margin: 0 0 10px 0;

}
.transition{
transition:all 0.4s linear 0s;-o-transition:all 0.4s linear 0s;-moz-transition:all 0.4s linear 0s;-webkit-transition:all 0.4s linear 0s;
}
.stock {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  z-index: 2;
  padding: 5px 15px;
  background: #23816F;
}
.more-info a {
  color: #0ea993;
  font-size: 11px;
  text-decoration: underline;
}
.cust-select {
  position: relative;

}
.cust-select select {
  cursor: pointer;
    line-height: 30px;
    padding: 0 25px 0 6px;
    margin: 0 0 5px 0;
    height: 32px;
    font-size: 12px;
    border-radius: 4px;
}

.product-details{
  display:block;
  overflow-y:scroll;
  padding-top: 100px;
}
.character.pl-0{
  padding-left: 0 !important;
  padding-right: 5px;
}
.character.pr-0{
  padding-right: 0 !important;
  padding-left: 5px;
}

.product-stock{
  color:#ffffff;
  font-size:12px;
}

.out-of-stock{
  color:red;
  font-size:12px;
}

.product-img{
  width:100%;
  margin-top: 0px;
  display: block;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 0;
  background:#EAECEB;
  height: 223px;
}

.product-image {
  width: 100%;
}

.prod-dimenssions-inn{
  height: 80px;
}

.container-padding{
  padding-top: 5%;
  padding-bottom: 5%;
}

.name-space{
  position: absolute;
    right: -5px;
    top: -7px;
    z-index: 2;
    background: #4CAF50;
    border-radius: 5px;
    color: #ffffff;
    padding: 1px 5px;
    font-size: 12px;
}

.product-box:hover{
  transform: scale(1);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  box-shadow: 1px 1px 1px 1px #D8DAD7;
  color: #4D95D2  ;
 }

 .product-otr{
  padding: 0 4px 10px;
}
.w3-container.product-box {
  border: 1px solid #efebeb;
  padding: 0 5px;
  background: #ffffff;
  position: relative;
}
.product-wrapper{
  margin: 10px 0;
  padding: 0;
}
.w3-modal-content header{
  padding: 5px 10px;
  text-align: left;
}
.w3-modal-content header h2{
  font-size: 18px;
  margin:5px 0 0;
}
.text-wrapper{
  padding: 0 10px;
  max-height: 200px;
  overflow-y: auto;
}
.text-wrapper header h4{
  margin: 0;
}
.text-wrapper header{
  padding: 5px 0;
}
.text-wrapper  div{
padding: 0 0 15px;
}
.w3-modal{
  z-index: 30;
}
@media (min-width: 993px){
  .w3-modal-content {
      width: 40%;
  }
}