<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-row-padding product-wrapper">
<div class="w3-col m4 l3 s12 product-otr" *ngFor="let product of products">
    <div class=" w3-container product-box">
        <h4 class="name-space" *ngIf="product.stock == null || product.stock > 0">
            <strong class="product-stock">In Stock
                <span *ngIf="product.stock != null">({{product.stock}}) </span>
            </strong>
        </h4>
        <h4 class="name-space" *ngIf="product.stock == 0 && product.options?.length == 0 ">
                <strong class="out-of-stock"> Out Of Stock</strong>
            </h4>
        <div class="product-image-area">
            <div>
                <img class="product-img" src="https://www.school24.net.au/{{product.image}}" onerror="this.src='https://www.school24.net.au/contentbase/images/uniform/noimage.png'"
                />
            </div>
        </div>
        <div class="details-area">
            <h2 class="product-name">
                {{product.name}}
            </h2>
            <div class="price-box">
                <span class="regular-price">
                    <span class="price">{{product.price | currency: currency :true:'1.2-4'}}</span>
                    <span class="more-info">
                        <a href="javascript:void(0);" (click)="displayDetails(product)" class="w3-small">More Info</a>
                    </span>
                </span>
            </div>
            <div class="prod-dimenssions transition">
                <div class="prod-dimenssions-inn">
                    <div class="w3-row">
                        <div *ngIf="product.sizeOptions.length>0 && product.colorOptions.length>0" >
                            <div class="w3-row-padding p-0">
                            <div class="w3-col m6 s6 l6 w3-center pl-0 character">
                                <div class="cust-select">
                                    <select name="color" id="color" class="w3-select w3-border" (change)="changeStock(product)" [(ngModel)]="product.color">
                                        <option value=undefined selected>Color</option>
                                        <option value="{{option.optionName}}" *ngFor="let option of product.colorOptions">{{option.optionName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="w3-col m6 s6 l6 w3-center pr-0 character">
                                <div class="cust-select">
                                    <select name="size" id="size" class="w3-select w3-border" (change)="changeStock(product)" [(ngModel)]="product.size">
                                        <option value=undefined selected>Size</option>
                                        <option value="{{option.optionName}}" *ngFor="let option of product.sizeOptions ">{{option.optionName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div *ngIf="product.colorOptions?.length>0 && product.sizeOptions?.length==0">
                            <div class="w3-col m12 s12 l12 w3-center">
                                <div class="cust-select">
                                    <select name="color" id="color" class="w3-select w3-border" (change)="changeStock(product)" [(ngModel)]="product.color">
                                        <option value=undefined selected>Color</option>
                                        <option value="{{option.optionName}}" *ngFor="let option of product.colorOptions">{{option.optionName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="product.sizeOptions.length>0 && product.colorOptions.length==0">
                            <div class="w3-col m12 s12 l12 w3-center">
                                <div class="cust-select">
                                    <select name="size" id="size" class="w3-select w3-border" (change)="changeStock(product)" [(ngModel)]="product.size">
                                        <option value=undefined selected>Size</option>
                                        <option value="{{option.optionName}}" *ngFor="let option of product.sizeOptions ">{{option.optionName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cust-select">
                        <select [disabled]="product.stock == 0" name="quantity" id="quantity" class="w3-select w3-border" [(ngModel)]="product.quantity"
                            (change)="checkQuantityLimit(product)">
                            <option value=undefined selected>Quantity</option>
                            <option value="{{qty}}" *ngFor="let qty of quantity">{{qty}}</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="actions">
                <small class="w3-text-red w3-small" *ngIf="product.stock == 0">The following option is out of stock: <span *ngIf="product.size">{{product.size}}</span><span *ngIf="product.size && product.color">, </span><span *ngIf="product.size">{{product.color}}</span></small>
                <button [disabled]="product.stock == 0" class="addtocart btn cart-btn w3-btn" style="width:100%" (click)="addUniformToCart(product, i)">
                    <i class="fa fa-shopping-cart"></i>&nbsp; Add to Cart</button>
            </div>
        </div>
    </div>
</div>
</div>
<div *ngIf="displayUniformPackDetails" class="w3-modal" style="display:block;">
    <div class="w3-modal-content pb-1">
      <header class="w3-container theme-color">
        <span (click)="hideUniformPackDetails()" class="w3-closebtn w3-display-right">&times;</span>
        <h2>Select Options</h2>
      </header>
      <div class="w3-container ">
        <div class=" options-wrapper " *ngFor="let product of uniformPackDetails">
        <div class="w3-responsive">
            <table class="w3-table-all" style="margin-top:10px;margin-bottom:10px; width:80%; margin-left: auto;
            margin-right: auto;">
                <caption class="w3-grey">
                    <span class="w3-large" style="width: max-content; padding-right: 10px;">{{product.quantity}}X {{product.name}} 
                    <i *ngIf=" uPackProductToDisplay != product.id && product.options?.length>0" (click)="setUPackProductToDisplay(product.id)"  
                    class="fa fa-plus w3-right " style="padding: 10px;"></i>
                    <i *ngIf=" uPackProductToDisplay == product.id && product.options?.length>0" (click)="unsetUPackProductToDisplay(product.id)"  
                    class="fa fa-minus w3-right " style="padding: 10px;"></i>
                </span> 
                </caption>
                <div  *ngIf=" uPackProductToDisplay == product.id " >
                    <div *ngIf="product.colorOptions?.length>0" style="width:100%;">
                        <h3 class="w3-container w3-theme" style=" font-size: 20px;">Color</h3>
                        <tr *ngFor="let option of product.colorOptions" style="width:100%;">
                            <td style="width:60px">
                                <input class="w3-check w3-radio" type="radio" value="{{option.optionName}}" (change)="changeUniformPackProductStock(product)" [(ngModel)]="product.color"
                                name="{{product.id}}{{product.name}}{{option.optionName}}" style="top:0px;" required>
                            </td>
                            <td class="w3-center" style="width: 400px;">
                                {{option.optionName}}
                            </td>
                        </tr>
                    </div>
                    
                    <div *ngIf="product.sizeOptions?.length>0">
                        <h3 class="w3-container w3-theme" style=" font-size: 20px;">Size</h3>
                        <tr *ngFor="let option of product.sizeOptions" style="width:100%;">
                            <td style="width:60px">
                                <input class="w3-check w3-radio" type="radio" value="{{option.optionName}}" (change)="changeUniformPackProductStock(product)" [(ngModel)]="product.size"
                                name="{{product.id}}{{product.name}}{{option.optionName}}" style="top:0px;" required>
                            </td>
                            <td class="w3-center" style="width: 400px;">
                                {{option.optionName}}
                            </td>
                        </tr>
                    </div>
                </div>
                
                </table>
        </div>
        
        </div>
        <div>
            <button type="button" [disabled]="uPackProductsOutStock.length > 0 || product.stock == 0 || uPackProductsMissingSelection.length > 0" class="w3-btn w3-right btn save-btn " (click)="uniformPackSetup()" style="width: 170px; margin: 10px 0px;"> <i _ngcontent-c7="" class="fa fa-shopping-cart"></i>&nbsp;Add to cart
            </button>
            <p class="w3-text-red" *ngIf="uPackProductsMissingSelection.length > 0">
                The following products are missing a selection: <span *ngFor="let mProduct of uPackProductsMissingSelection">{{mProduct[1]}}, </span>
            </p>
            <p class="w3-text-red" *ngIf="uPackProductsOutStock.length > 0">
                The following products are out of stock: <span *ngFor="let oSProduct of uPackProductsOutStock">'{{oSProduct[1]}}: {{oSProduct[2]}}', </span>
            </p>
        </div>
        <p></p>
        
      </div>
      
    </div>
    
</div>
<div class="w3-padding" *ngIf="products.length == 0" style="background: #ffffff;text-align: center;">
    Products are not available for this category.
</div>
<div *ngIf="showDetails" class="w3-modal product-details">
    <div class="w3-modal-content">
        <header class="w3-container theme-color">
            <span (click)="hideDetails()" class="w3-closebtn w3-display-right">&times;</span>
            <h2>Product Details</h2>
        </header>      
        <div class="w3-container text-wrapper">
            <header>
                <h4>{{product.name}}</h4>
            </header>
            <div *ngIf="product && product.description && product.description !=''">
                <p [innerHTML]="product.description"></p>
            </div>
            <div *ngIf="product && !product.description && product.description ==''">
                Information is not available
            </div>
        </div>       
    </div>
</div>
