<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div *ngIf="perDayShift.length>0">
    <div *ngFor="let shift of perDayShift" class="shift-box w3-margin">
        <span class="strong">
            <b>{{shift.name}}</b>
        </span>
        <br>
        <span *ngFor="let volunteer of shift.volunteers">
            {{volunteer.name}}
            <span *ngIf="shift.leader == volunteer.id">
                <i class="fa fa-users" style="vertical-align: top;color:red;"></i>
            </span>
            <br>
        </span>
        <div *ngIf="shift.noOfVolReq>0">We need
            <span style="color:red;">{{shift.noOfVolReq}}</span> more
            <div *ngIf="!shift.isRegistered && !shift.isPastDay">
                <button class="w3-btn w3-green" (click)="register(shift)">Register{{todaysDate}}</button>
            </div>
        </div>
        <div *ngIf="shift.noOfVolReq==0">
            We are
            <span style="color:red;">Ok</span>
        </div>
    </div>
    <br>
</div>
<div *ngIf="holiday">
    <p>
        <b>{{holiday}}</b>
    </p>
</div>