.shift-box{
    padding: 10px;
    border: 1px solid #322357; 
    border-radius: 7px;
}

.shift-box strong {
    font-size: 14px;
}

.shift-box .cust-btn{
    padding: 5px 12px;
    font-size: 13px;
}