<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-container" style="padding-top:90px;">
  <div class="w3-responsive">
    <table class="w3-table-all">
      <thead>
        <tr>
          <th>Date</th>
          <th>Subject</th>
          <th>Content</th>
          <!-- <th>Status</th> -->
        </tr>
      </thead>
      <tbody *ngIf="uniformNews.length >0">
        <tr *ngFor="let news of uniformNews">
          <td> {{news.dateEntered  | date:'dd-MM-yyyy'}}</td>
          <td>{{news.subject}}</td>
          <td>
            <button type="button" class="w3-btn w3-theme w3-round" (click)="displayDetails(news)">
              [ &nbsp;View &nbsp;]
            </button>
          </td>
          <!-- <td>
                        <span *ngIf="news.status == 'OPEN'; else OFF">
                            ON
                        </span>
                        <ng-template #OFF>
                            <span>
                                OFF
                            </span>
                        </ng-template>
                    </td> -->

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showDetails" class="w3-modal" style="display:block;overflow-y:scroll;padding-top: 100px;">
  <div class="w3-modal-content">
    <header class="w3-container w3-theme">
      <span (click)="hideDetails()" class="w3-closebtn w3-display-right">&times;</span>
      <h2 class="w3-center">
        News Content
      </h2>
    </header>
    <br>
    <div class="w3-container">
      <div [innerHTML]="newsContent">
      </div>
    </div>
    <br>
    <footer class="w3-container w3-theme">
    </footer>
  </div>
</div>
