<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<form class="w3-container" #childrenForm="ngForm">
  <div class="w3-row w3-section">
    <label class="w3-text-brown">
      <b>First Name</b>
    </label>
    <input class="w3-input w3-border w3-hover-gray" type="text" placeholder="Enter student's firstname"
      [(ngModel)]="children.firstName" name="firstname" #firstname="ngModel" required>
    <div *ngIf="firstname.invalid && firstname.touched" class="w3-text-red">
      <div *ngIf="firstname.errors.required">
        Firstname is required.
      </div>
    </div>
  </div>
  <div class="w3-row w3-section">
    <label class="w3-text-brown">
      <b>Last Name</b>
    </label>
    <input class="w3-input w3-border w3-hover-gray" type="text" placeholder="Enter student's lastname"
      [(ngModel)]="children.lastName" name="lastName" #lastName="ngModel" required>
    <div *ngIf="lastName.invalid && lastName.touched" class="w3-text-red">
      <div *ngIf="lastName.errors.required">
        Lastname is required.
      </div>
    </div>
  </div>
  <div class="w3-row w3-section">
    <label class="w3-text-brown">
      <b>Food Allergies</b>
    </label>
    <input class="w3-input w3-border w3-hover-gray" type="text" placeholder="NONE" [(ngModel)]="children.allergy"
      name="allergy" #allergy="ngModel">
  </div>
  <div class="w3-row w3-section">
    <label class="w3-text-brown">
      <b>Class</b>
    </label>
    <!-- <select class="w3-select" name="option" [(ngModel)]="children.studentClass" name="class" #class="ngModel" required>
      <option [value]="'NONE'" disabled selected>Select class</option>
      <option [value]="class.name" *ngFor="let class of studentClasses">{{class.name}}</option>
    </select> -->
    <ng-multiselect-dropdown
      [(ngModel)]="selectedItems"
      #class="ngModel"
      name="class" 
      id="temperatureMultiSelect"
      class="form-control-sm w3-select" 
      [placeholder]="'Select class'"
      [settings]="dropdownSettings"
      [data]="studentClasses"
      
      required>
    </ng-multiselect-dropdown>
    <div *ngIf="class.invalid && class.touched" class="w3-text-red">
      <div *ngIf="class.errors.required">
        Class is required.
      </div>
    </div>
  </div>
  <div *ngIf="mode=='edit'" class="w3-row w3-section">
    <label class="w3-text-brown">
      <b>Status</b>
    </label>
    <select class="w3-select" name="option" [(ngModel)]="children.status" name="status" #status="ngModel" required>
      <option value="" disabled selected>Select status</option>
      <option value="ACTIVE">Active</option>
      <option value="INACTIVE">Inactive</option>
    </select>
    <div *ngIf="status.invalid && status.touched" class="w3-text-red">
      <div *ngIf="status.errors.required">
        Status is required.
      </div>
    </div>
  </div>
  <div class="w3-row w3-section">
    <label class="w3-text-brown">
      <b>Student Card Id</b>
    </label>
    <input class="w3-input w3-border w3-hover-gray" type="text" placeholder="Enter Student Card Id"
      [(ngModel)]="children.studentCardId" name="studentCardId" #studentCardId="ngModel">
  </div>

  <div class="w3-row w3-section">
    <label class="w3-text-brown">
      <b>Counter Limit</b>
    </label>
    <input class="w3-input w3-border w3-hover-gray" type="number"
      placeholder="Enter maximum order amount for canteen order" [(ngModel)]="children.maxAllow" name="maxAllow"
      #maxAllow="ngModel" min="0">
  </div>
  <div>
    <button type="button" class="w3-btn w3-theme" (click)='saveChildren(children)'
      [disabled]="!childrenForm.form.valid">
      Save Student</button>
  </div>
</form>
