<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-container">
  <div class="login-card-wrapper">
    <div class="w3-card login-card">
      <div class="w3-row display-flex">
        <div class="w3-col l7 hide-mobile">
          <div class="login-illustration">
            <img src="https://www.school24.net.au/assets/img/login-illustration.svg" alt="test">
          </div>
        </div>
        <div class="w3-col l5 m12">
          <div class="form-container">
            <div class="login-logo">
              <img src="https://www.school24.net.au/canteenorder/assets/school24_logo.png" alt="logo">
            </div>
            <form role="form" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="w3-group w3-margin-bottom">
                <div class="input-group-prepend">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" id="input-username" class="input-field" formControlName="email"
                  placeholder="Username or Email" autofocus>
              </div>
              <div class="invalid-feedback w3-text-red" style="display: block;"
                *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
                Username or Email is required
              </div>

              <div class="w3-group w3-margin-bottom">
                <div class="input-group-prepend">
                  <i class="fa fa-key"></i>
                </div>
                <input type="password" id="input-password" class="input-field " placeholder="Password" type="password"
                  type="{{type}}" formControlName="password">
                <div class="input-group-append" (click)="showHideConfirmPassword()">
                  <i class="fa fa-eye"></i>
                </div>
              </div>


              <div class="invalid-feedback w3-text-red" style="display: block;"
                *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                <span *ngIf="loginForm.controls.password.hasError('required')">Password is required</span>
              </div>
              <div *ngIf="loginFailed" class="w3-text-red">
                {{loginErrorMsg}} </div>
              <div *ngIf="emailVerificationMessage" class="w3-text-red">
                {{emailVerificationMessage}}
              </div>
              <button *ngIf="isEmailVerificationRequired" class="w3-btn w3-green w3-round"
                (click)="sendVerificationEmail()">
                Send Verification Link
              </button>
              <br>
              <div class="row w3-margin-bottom">
                <div class="w3-col l10">
                  <label class="custom-checkbox">
                    <input type="checkbox" checked="checked" formControlName="rememberMe">
                    Remember Me
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w3-col l2 text-right">
                  <button type="submit" class="w3-btn w3-round w3-green">Login</button>
                </div>
              </div>

              <div class="w3-row w3-margin-bottom">
                <div class="w3-col l6">
                  <a [routerLink]="['/canteenorder/register']">Register Now</a>
                </div>
                <div class="w3-col l6 text-right">
                  <a [routerLink]="['/canteenorder/forgot-password']" class="secondary-link">Forgot Password?</a>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showVerficationEmailPopup" class="w3-modal" style="display:block;">
  <div class="w3-modal-content">
    <header class="w3-container w3-theme">
      <span (click)="closeModal()" class="w3-closebtn w3-display-right">&times;</span>
      <h4 class="w3-left">
        Enter email you used while registration</h4>
    </header>
    <div class="w3-container">
      <p> <input type="text" class="input-field w3-input w3-round w3-border" style="width: 60%"
          placeholder="Enter email" [(ngModel)]="emailToverify">
        <br />
        <span style="color: red;" *ngIf="isEmailVerificationIncorrect">Incorrect Email</span>
        <br />
        <button class="w3-btn w3-green w3-round" (click)="sendVerificationEmailLink()">Send</button>
      </p>
    </div>
  </div>
</div>
