<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-row-padding left-margin" >
    <div class="w3-col m8 " style="margin-top:56px; position: relative;">
        <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
                <div class="w3-center">
                    <h2>My Profile</h2>
                </div>
                <form class="w3-container" #parentForm="ngForm">
                    <div class="row">
                        <label class="w3-text-black">
                            <b>First Name</b>
                        </label>
                        <input class="w3-input w3-border w3-round" name="firstName" type="text" placeholder="Enter first name" [(ngModel)]="parent.firstName"
                            #firstName="ngModel" required>
                        <div *ngIf="firstName.invalid && firstName.touched" class="w3-text-red">
                            <div *ngIf="firstName.errors.required">
                                First name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="w3-text-black">
                            <b>Last Name</b>
                        </label>
                        <input class="w3-input w3-border w3-round" name="lastName" type="text" placeholder="Enter last name" [(ngModel)]="parent.lastName"
                            #lastName="ngModel" required>
                        <div *ngIf="lastName.invalid && lastName.touched" class="w3-text-red">
                            <div *ngIf="lastName.errors.required">
                                Last name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="w3-text-black">
                            <b>Email</b>
                        </label>
                        <input class="w3-input w3-border w3-round" name="email" type="text" placeholder="Enter email id" [(ngModel)]="parent.email"
                            #email="ngModel" required email>
                        <div *ngIf="email.invalid && email.touched" class="w3-text-red">
                            <div *ngIf="email.errors.required">
                                Email is required.
                            </div>
                            <div *ngIf="!email.errors.required && email.errors.email">
                                Enter valid email.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="w3-text-black">
                            <b>Mobile</b>
                        </label>
                        <input class="w3-input w3-border w3-round" name="mobile" type="text" placeholder="Enter mobile number" [(ngModel)]="parent.mobile"
                            #mobile="ngModel" required>
                        <div *ngIf="mobile.invalid && mobile.touched" class="w3-text-red">
                            <div *ngIf="mobile.errors.required">
                                Mobile number required.
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="w3-text-brown">
                            <b>Reset Password (If Password is empty old password will remain same)</b>
                        </label>
                        <input class="w3-input w3-border w3-sand" name="password" type="{{passwordType}}" placeholder="Enter new password" [(ngModel)]="parent.password"
                            #password="ngModel">
                    </div>
                    <div class="row">
                        <label class="w3-text-brown">
                            <b>Confirm Password</b>
                        </label>
                        <input class="w3-input w3-border w3-sand" name="cpassword" type="{{passwordType}}" placeholder="Enter new password" [(ngModel)]="confirmPassword"
                            #cpassword="ngModel">
                        <div *ngIf="isPasswordNotValid && parent.password != ''" class="w3-text-red">
                            Confirm Password and reset password must be same
                        </div>
                        <div>
                            <div class='fa fa-eye' style="cursor: pointer;" (click)='showHidePassword()'>
                            </div>
                        </div>
                    </div>
                    
                    <p>
                        <button type="button" class="w3-btn w3-green" (click)='saveParent()' [disabled]="!parentForm.form.valid" style="margin: 5px;">Save</button>
                        <button type="button" class="w3-btn w3-green" (click)='cancel()'>Cancel</button>
                    </p>

                </form>
            </div>
        </div>
    </div>
</div>