<div class="w3-container">
    <div *ngFor="let optionSubGroup of optionGroups" class="options-wrapper">
        <option-group [optionSubGroup]="optionSubGroup"></option-group>
    </div>
    <div>
        <button type="button" class="w3-btn w3-right btn save-btn" (click)="addToCart()" style="width: 170px"> <i _ngcontent-c7="" class="fa fa-shopping-cart"></i>&nbsp;Add to cart
        </button>
        <p class="w3-text-red w3-center" *ngIf="!optionGroupValid">Some options are missing please see above for more details</p>
    </div>
</div>