<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div style="padding: 62px 10px 5px 5px;">
  <div class="w3-row">
  <div class="change-yr">
    <a *ngIf="calDate>currentDate" (click)="navigateToPrevMonth()" class="change-yr-btn">
      <i class="fa fa-angle-left"></i>
    </a>
    <strong>{{calDate|date:'MMM-yyyy'}}</strong>
    <a (click)="navigateToNextMonth()" class="change-yr-btn">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  </div>
  <div class="w3-row" style="overflow: scroll;">
    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
      <small style="margin: 5px">
        <shift-details [shifts]="getShift(day.date)"></shift-details>
      </small>
    </ng-template>

    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [cellTemplate]="customCellTemplate">
      </mwl-calendar-month-view>
    </div>
  </div>
</div>