.change-yr {
    float: left;
}

.change-yr strong {
    display: inline-block;
    font-size: 20px;
    margin: 0 30px;
    vertical-align: middle;
}

.change-yr-btn {
    display: inline-block;
    vertical-align: middle;
    color: #281a4e;
}

.change-yr-btn .fa {
    font-size: 48px;
    font-weight: bold;
    color:green;
}

.month {
  overflow: scroll;
}

.cal-cell-row {
  display: none !important;
}