<nav class="w3-sidenav w3-card-2 w3-theme w3-top w3-xlarge w3-animate-left sidenav" id="mySidenav">
  <div class="w3-white">
    <a href="javascript:void(0)" (click)="hideSidebarComponent()" class="w3-closenav">
      <i class="fa fa-close" style="color: #ffebee;"></i>
    </a>
    <div *ngIf="showCommonSideBar">
      <div class="w3-container" style="background: linear-gradient(to bottom, #7ea93d 0%, #308000 100%);
            color: white;">
        <p class="w3-center" style="padding: 0px; margin: 2px;">
          <span class="w3-circle" style="height: 178px;width: 180px;"><i class="fa fa-user-circle fa-5x"></i>
          </span>
        </p>
        <div class="w3-center">{{parent.firstName}} &nbsp;{{parent.lastName}}</div>
        <div class="font17"><i class="fa fa-envelope fa-fw w3-margin-right fa-lg"></i> {{parent.email}}
        </div>
        <div class="font17"><i class="fa fa-mobile fa-fw w3-margin-right fa-lg"></i> {{parent.mobile}}</div>
        <div class="font17"><i class="fa fa-university fa-fw w3-margin-right fa-lg"></i>
          {{schoolInfo.shop}}</div>
      </div>

      <ul class="menu" style="margin: 0 0 0 0;">


        <!--<li>
            <a>
                <i class="fa fa-envelope-o"></i> Contact</a>
        </li>-->

        <li>
          <a [routerLink]="['user-profile']" (click)="hideSidebarComponent()">
            <i class="fa fa-user fa-fw w3-margin-right fa-lg"></i> Edit Profile</a>
        </li>
        <li>
          <a [routerLink]="['students']" (click)="hideSidebarComponent()">
            <i class="fa fa-graduation-cap fa-fw w3-margin-right fa-lg"></i> Setup Student</a>
        </li>
        <li>
          <a [routerLink]="['history']" (click)="hideSidebarComponent()">
            <i class="fa fa-history fa-fw w3-margin-right fa-lg"></i> Order History</a>
        </li>
        <li>
          <a [routerLink]="['transaction-history']" (click)="hideSidebarComponent()">
            <i class="fa fa-money fa-fw w3-margin-right fa-lg"></i> Transactions</a>
        </li>
        <li *ngIf="schoolInfo?.processed && schoolInfo?.processed == true && isTopupEnabled == true">
          <a [routerLink]="['top-up']" (click)="hideSidebarComponent()">
            <i class="fa fa-bolt fa-fw w3-margin-right fa-lg"></i> TopUp/Recharge</a>
        </li>
        <!-- <li
          *ngIf="schoolInfo?.fee_model == 2 && parent?.parentPlan != 2 && schoolInfo?.processed && schoolInfo?.processed == true ">
          <a [routerLink]="['update-parent-plan']" (click)="hideSidebarComponent()">
            <i class="fa fa-bolt fa-fw w3-margin-right fa-lg"></i> Unlimited Plan</a>
        </li> -->

        <li *ngIf="schoolInfo?.roster_status">
          <a [routerLink]="['roster']" (click)="hideSidebarComponent()">
            <i class="fa fa-group fa-fw w3-margin-right fa-lg"></i> Volunteers Roster </a>
        </li>
        <li *ngIf="schoolInfo?.roster_status">
          <a [routerLink]="['roster-calendar']" (click)="hideSidebarComponent()">
            <i class="fa fa-calendar fa-fw w3-margin-right fa-lg"></i> Roster-calendar</a>
        </li>
        <li *ngIf="schoolInfo?.canteen_status != 0">
          <a [routerLink]="['ban-food']" (click)="hideSidebarComponent()">
            <i class="fa fa-ban fa-fw w3-margin-right fa-lg"></i> Ban Food</a>
        </li>
        <li>
          <a [routerLink]="['coupons']" (click)="hideSidebarComponent()">
            <i class="fa fa-gift fa-fw w3-margin-right fa-lg"></i> Coupons</a>
        </li>
        <!-- <li>
            <a>
                <i class="fa fa-female"></i> Uniform Order</a>
        </li>
        <li>
            <a>
                <i class="fa fa-female"></i> Uniform View History</a>
        </li>
        <li>
            <a>
                <i class="fa fa-usd"></i> Top-Up</a>
        </li>-->
        <li>
          <a [routerLink]="['support']" (click)="hideSidebarComponent()">
            <i class="fa fa-headphones fa-fw w3-margin-right fa-lg"></i> Support</a>
        </li>
        <li>
      </ul>
    </div>

    <categories *ngIf="showCategories" (hideNav)="hideSidebarComponent()"></categories>
  </div>
</nav>
