.w3-sidenav.sidenav{
  left: 0;
  right: initial;
}
.sub-menu ul{
  padding-left: 15px;
}

.font16{
  font-size: 16px;
  color: #25476a;
}

.font17{
  font-size: 17px;
  font-weight: normal;
  color: white;
  padding: 6px;
  line-height: revert;
}

ul li {
  border-bottom: 2px #619926;
}

li a {
  margin-left: 19px;
  font-size: 16px;
}