<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="w3-container" style="padding-top:90px;">
  <div class="w3-responsive">
    <table class="w3-table-all">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Order Date</th>
          <th>Order Amount</th>
          <th>Order Details</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderHistory of uniformOrders">
          <td>{{orderHistory.orderId}}</td>
          <td>{{orderHistory.orderDate | date:'dd-MM-yyyy'}}</td>
          <td>{{orderHistory.orderAmount | currency: currency :true:'1.2-4'}}</td>
          <td>
            <button type="button" class="w3-btn w3-theme w3-round" (click)="displayDetails(orderHistory)">
              [ &nbsp;View &nbsp;]
            </button>
          </td>
          <td>{{orderHistory.stageStatus}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showDetails" class="w3-modal" style="display:block;overflow-y:scroll;padding-top: 100px;">
  <div class="w3-modal-content">
    <header class="w3-container w3-theme">
      <span (click)="hideDetails()" class="w3-closebtn w3-display-right">&times;</span>
      <h2 class="w3-center">
        Order Details
      </h2>
    </header>
    <br>
    <div class="w3-container">
      <div class="w3-responsive">
        <table class="w3-table w3-bordered w3-border">
          <tr>
            <th>Item Code</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Color</th>
            <th>Price</th>
            <th>Comment</th>
            <th>Total</th>
          </tr>
          <tr *ngFor="let details of orderDetails">
            <td>{{details.productId}}</td>
            <td>{{details.productName}}</td>
            <td>{{details.quantity}}</td>
            <td>{{details.sizeOptions}}</td>
            <td>{{details.colorOptions}}{{details.isUniformPack}}</td>
            <td>{{details.price | currency: currency :true:'1.2-4'}}</td>
            <td>{{comment}}</td>
            <td>{{details.total | currency: currency :true:'1.2-4'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <footer class="w3-container w3-theme">
      <h5>Order# &nbsp; {{orderId}}</h5>
    </footer>
  </div>
</div>