<div class="w3-container w3-center" style="padding:13%;">
  <p class="w3-xxlarge">THANK YOU...!</p>
  <i class="fa fa-check-square-o w3-text-green" style="font-size:48px;"></i>
  <p class="w3-xlarge">Order Placed Successfully..!</p>
  <div class="w3-large">Please note your order Id:
      {{orderId}}
  </div>
</div>