/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600');

html,body,h1,h2,h3,h4,h5,h6 {
    font-family:"Roboto",Open Sans !important;
}
/*Common Style*/
.inner-wrapper{
    margin:0;
    padding: 50px 20px 30px;
}
.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }
.float-left{
    float: left !important;
}
.float-right{
   float: right !important;
}
.btn{
   font-size: 15px;
 padding: 8px 10px !important; 
}
.cancel-btn{
   background: #313131;
}
.save-btn, .w3-btn:disabled.save-btn:hover{
   background: #81b240;
}
.cancel-btn:hover{
   background: #3b3b3b;
}
.save-btn:hover{
   background: #83b73e;
}
.cart-btn{
   background: #d69c17;
}
.cart-btn:hover {
   background: #f1af1a;
}
.text-center{
   text-align: center;
}
.text-right{
   text-align: right;
}
.text-left{
   text-align: left;
}
.p-0{
   padding: 0 !important;
}
.b-0{
   border:none !important;
}
.m-0{
   margin: 0 !important;
}
.pl-0{
   padding-left: 0 !important;
}
.pr-0{
   padding-right: 0 !important;
}
.pt-0{
   padding-top: 0 !important;
}
.pb-0{
   padding-bottom: 0 !important;
}
.theme-color{
   background: #81b240;
   color:#ffffff;
}
.theme-color-icon{
   color: #81b240;
}
label{
   font-size: 14px;
   color: #696969;
   font-weight: bold;  
}
.w3-btn:disabled.save-btn{
   opacity: 0.8;
}
.note{
   margin: -5px 0 0;
   display: block;
}
.w3-select, .w3-input{
   padding: 7px 5px;
}
.w3-input.w3-border:focus,.w3-select.w3-border:focus{
   outline: none;
   border-color:#81b240 !important;
}
button:focus{
   outline: none;
}
img{
   margin: 0;
}

.w3-text-grey, .w3-hover-text-grey:hover {
   color: #d8d6d6!important;
}
.w3-btn:hover, .w3-btn-block:hover, .w3-btn-floating:hover, .w3-btn-floating-large:hover {
   box-shadow: none !important;
}
.backdrop.full-screen{
   border-radius: 0 !important;
}
.sidenav{
   z-index: 40;
   width: 35%;
   min-width: 300px;
   background-color: #eeeef3;
   overflow: initial;
}
.sidenav .menu li a{
   color: #535151;
   font-size: 14px;
   border-bottom: 1px solid #f1ebeb;
   padding: 10px;
}

.sidenav ul.menu {
   list-style-type: none;
   padding: 0 0 0 ;
   margin: 45px 20px 10px 10px;
 }
 .sidenav.w3-sidenav a {
   padding:10px 10px;
}
.sidenav .menu li{
 margin: 0;
 list-style: none;
}
.sidenav .menu li a i.fa{
  padding: 0 5px 0 0;
  color: #3d870a;
  font-size: 20px;
  font-weight: bold;
}
.sidenav .w3-white{
 float: left;
   width: 100%;
   height: 100%;
 position: relative;
 overflow-y: auto;
}
.w3-closenav{
   position: absolute;
   top: 0;
   right: 17px;
   color: #81b240;
}
.w3-sidenav .w3-closenav:hover{
 background-color: transparent;
 color:  #d69c17;
}
.w3-sidenav .menu li a:hover {
 background-color: #d69c17;
 color: #ffffff;
}
.w3-sidenav .menu li a:hover i.fa{
 color: #ffffff;
}
.sidenav ul.menu:nth-child(3), .sidenav ul.menu:last-child{
   margin-top: 10px;
}  
.sidenav.w3-sidenav{
   z-index:40;
   width:35%;
   min-width:300px;
   right:0;
   background-color: #eeeef3;
 }
 .w3-sidenav a:hover {
   background-color: transparent;
 }
  .custom-btn{
   border:none;
   padding: 0;
   background: none;
   font-size: 14px;
   vertical-align: middle;
 }
   .checkout_table{
     width:100%;
     margin: 0 0 20px;
   }
   .shopping-cart.cart{
     position: relative;
     height: 100% !important;
 }
 .shopping-cart.cart .cart_header,.shopping-cart.cart .cart-footer{
     position:absolute;
     left:0;
     width:100%;
 }
 .shopping-cart.cart .cart_header{
     top:0;
     z-index: 100;
     height: 45px;
   padding: 7px 10px;  
   color: #ffffff;
 }
 .shopping-cart.cart .cart-footer{
     bottom: 0; 
   padding: 10px 20px 0;
 }
 .shopping-cart.cart  .w3-container.item-wrapper{
     padding: 50px 11px 0;
     height: calc(100% - 125px);
     overflow-y: auto;
 }
 .clearfix{
     clear:both;
 }
 .shopping-cart .item{
     width:50%;
 }
 
 .shopping-cart .price, .shopping-cart .quantity{
   width:20%;
   padding: 4px 0 0;
 }
 .quantity{
   position: relative;
 }
 .quantity .reduce-btn{
   position: absolute;
   top: -7px;
   left: 50px;
 }
 .shopping-cart .action-buttons{
     width:10%;
 }
 .shopping-cart .action-buttons{
     text-align:right;
 }
 .shopping-cart ul{
     list-style-type: none;
     padding-left: 0;
     margin: 0;
     border-bottom:1px solid #e6e6e6;
     padding: 10px 0 7px;
 }
 
 .item-list ul li {
     float: left;
 }
 .item-name{
   font-size: 14px;
   font-weight: bold;
   margin: 0 0 2px;
 }
 
 .label{
   font-size: 13px;
   float: left;
   color: #000000;
   margin: 0 5px 5px 0;
 }
 .value{
   font-size: 13px;
   float: left;
   color: #847d7d;
 }
 td .value{
   float:none;
 }
 .total{
     font-size: 15px;
   margin: 0 0 20px;
   text-align: right;
   padding: 12px 0;
   border-top: 1px solid #bdbdbd;
   border-bottom: 1px solid #bdbdbd;
 }
 .shopping-cart  .cart_header h4{
     margin:0;
     font-size: 17px;
 }
 .shopping-cart  .icons{
     margin:0 10px 0 0;
     font-size: 19px;
 }
 .shopping-cart .w3-closenav{
     padding-top: 0;
   padding: 0;
     font-size: 17px;
 }
 .action-buttons .custom-btn{
   vertical-align: top;
 }
 .reduce-quantity{
   text-align: left;
   padding:6px 2px 2px 10px !important;
 }
 .checkout_table td{
   border-bottom: 1px solid #e6e6e6;
   padding: 5px 8px;
 }
 .checkout_table th {
   border-bottom: 1px solid #dddddd;
   padding: 10px 8px;
   background-color: #eeeeee;
   font-size: 14px;
 }
 .w3-border {
   border: 1px solid #e2e2e2!important;
 }
 .checkout_table tbody tr:last-child td{
   border-bottom: none;
 }
 textarea.w3-input{
   height: 38px;;
 }
 .btn{
   width: 48%;
 }
 .additional-info{
   padding: 15px 0;
   border-top: 1px solid #bdbdbd;
   border-bottom: 1px solid #bdbdbd;
 }
 .message{
   font-size: 20px;
 }
 .innerWrapper{
   float: left;
   width: 100%;
   margin: 50px 0 30px;
   padding: 0 20px;
 }
 ul.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  color: #ffffff;
  margin-left: 0;
  background: #a8a8ad;
  float: right;
  margin: 0 15px 0 0;
 }
 ul.breadcrumb li.active{
   color: #8d8a8a;
   cursor:default;
 }
 ul.breadcrumb li {
   display: inline;
   font-size: 14px;
   cursor: pointer;
 }

 ul.breadcrumb li+li:before {
   padding: 6px;
   color: #ffffff;
   content: "/\00a0";
 }

 ul.breadcrumb li a {
   color: #0275d8;
   text-decoration: none;
 }

 ul.breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
 }
.date h3{
  font-size: 14px;
  padding: 6px 0 0;
}
.breadcrumb-section{
 margin: 30px auto 10px;
}
.students{
 margin: 0 0 20px;
 border-bottom: 1px dotted #080808;
}
.students:last-child{
  border-bottom: 0;
}
.w3-col.students h3{
 font-size: 17px;
 margin: 0 0 10px !important;
 color: #81b240;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8a8282;
  font-size:13px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #8a8282;
  font-size:13px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #8a8282;
  font-size:13px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #8a8282;
  font-size:13px;
}

 @media screen and (max-width:1250px){
 .sidenav.w3-sidenav{
   width: 50%;
 }
 }
 @media screen and (max-width:1250px){
   .sidenav.w3-sidenav{
     width: 80%;
   }
   }
 @media screen and (max-width:700px){
 .checkout_table th{
   font-size: 13px;
 }
 }
 @media screen and (max-width:600px){
   .sidenav.w3-sidenav{
     width: 99%;
   }
   }
   @media screen and (max-width:480px){
     .btn.save-btn, .btn.cancel-btn{
       width: 100%;
     }
     .shopping-cart.cart .w3-container.item-wrapper {
       height: calc(100% - 192px);
   }
   }