a,
u {
  text-decoration: none;
  color: white;
}

.crtCnt {
  position: absolute;
  font-size: 11px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: 0;
  color: white;
  background: rgba(255, 0, 0, .85);
  text-align: center;
  right: 2px;
  line-height: 20px;
}


.news-count {
  position: absolute;
  font-size: 11px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: 0;
  color: white;
  background: rgba(255, 0, 0, .85);
  text-align: center;
  right: -6px;
  line-height: 20px;
}

.top-navbar .w3-theme {
  padding: 5px 20px;
  font-size: 20px !important;
  /*background-color:#81b240 !important;*/
  background-color: #25476a !important;
  /*box-shadow: 1px 2px 5px #616060;*/
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  font-size: inherit;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 37px;
  left: 50%;
  margin-left: -40px;
  font-size: 10px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.user-profile {
  cursor: pointer;
  margin: 4px 0 -3px 15px;
  display: block;
}

.home,
.menu {
  display: inline-block;
  margin: -2px 15px 0 0;
  font-size: 25px;
}

.menu {
  font-size: 21px;
}

.tooltip img {
  margin: 3px 0 0;
}

.cart {
  display: block;
  margin: 0 0 -6px 0;
}

.Welcome-msg {
  font-size: 14px;
}
