<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '0' }"></ngx-loading>
<div class="w3-top w3-margin-bottom top-navbar clearfix" style="z-index: 10 !important">
  <div class="w3-theme w3-xlarge clearfix" style="margin:auto">
    <div class="w3-left">
      <ng-container *ngIf="!isUniform">
        <a *ngIf="sidebarStatus" href="javascript:void(0);" (click)="displaySidebar()" class="menu">
          <div class="tooltip"> <i class="w3-opennav fa fa-bars w3-hover-text-grey"></i>
            <span class="tooltiptext">Menu</span>
          </div>
        </a>
      </ng-container>
      <a [routerLink]="['/canteenorder/dashboard/home']" class="home">
        <div class="tooltip"> <i class="fa fa-home w3-hover-text-grey w3-text-white">
          </i>
          <span class="tooltiptext">Home</span>
        </div>
      </a>
      <ng-container *ngIf="isUniform">
        <a [routerLink]="['/uniformorder/home']" class="home" style="margin-left: 10px;">
          <div class="tooltip"> <i class="fa fa-female w3-hover-text-grey w3-text-white">
            </i>
            <span class="tooltiptext">Uniform</span>
          </div>
        </a>
      </ng-container>
      <!-- <span class="w3-hide-small Welcome-msg"> Welcome
        <span *ngIf="parent">{{parent.firstName}}</span>
      </span> -->
    </div>
    <div class="w3-right">
      <ng-container *ngIf="isUniform">
        <a [routerLink]="['/uniformorder/news']" class="home" style="margin-left: 10px;">
          <div class="tooltip">
            <i class="fa fa-comment w3-hover-text-grey w3-text-white"></i>
            <span class="news-count">{{newsCount}}</span>
            <span class="tooltiptext">News</span>
          </div>
        </a>

        <!-- <a [routerLink]="['/uniformorder/history']" class="home" style="margin-left: 10px;">
          <div class="tooltip"> <img src="https://www.school24.net.au/uniformorder/assets/order.png"
              class="w3-hover-text-grey w3-text-white">
            <span class="tooltiptext">Order History</span>
          </div>
        </a> -->
      </ng-container>
      
      <ng-container *ngIf="!isUniform">
        <a href="javascript:void(0);" (click)="displayCartBar()" class="cart float-left">
          <div class="tooltip">
            <span class="p1 fa-stack fa-1x has-badge">
              <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse"></i>
              <span class="crtCnt">
                {{cartItemsCount}}
              </span>
            </span>
            <span class="tooltiptext">Cart</span>
          </div>
        </a>
      </ng-container>

      <a href="javascript:void(0);" (click)="myAccount()" class="user-profile float-left">
        <div class="tooltip"> <i class="fa fa-user"></i>
          <span class="tooltiptext">User Profile</span>
        </div>
      </a>
      <!--
      <span (click)="logout()">
        <a href="javascript:void(0);">
          <i class="fa fa-sign-out w3-text-white w3-hover-text-grey"></i>
        </a>
      </span>
    -->
    </div>
    <div class="w3-center" style="font-size: 24px;">{{parent?.credit | currency:currency:true:'1.2-4'}}</div>

  </div>
</div>

<div *ngIf="showProfile">
  <!-- Profile -->
  <my-account></my-account>
</div>
