<p *ngIf="!isNetworkAvailable" class="nonetwork">
    <i class="fa fa-warning"></i> No Internet connection
</p>
<alert></alert>
<router-outlet></router-outlet>
<div class="w3-modal" *ngIf="isUpdateRequired" style="display: block; z-index: 333;">
    <div class="w3-modal-content">
        <header class="w3-container w3-theme">
            <h4 class="w3-center">
                Update is available
            </h4>
        </header>
        <div class="w3-container">
            <p>Your current app version is ({{currentVersion}}) lower than latest version <span
                    *ngIf="newAppVersion">({{newAppVersion}})</span>
            </p>
            <a (click)="openMarket()" class="w3-btn w3-green">Update
            </a>
            <p></p>
        </div>
    </div>
</div>