<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="w3-container" style="padding-top:40px;">

  <div class="row" *ngIf="coupons?.length == 0">
    <h3 class="w3-center">No coupons found</h3>
  </div>
  <br>

  <!-- <div class="w3-col m12 ">
    <div class="w3-card-2 w3-round w3-white">
      <div class="w3-container w3-padding table-responsive" *ngIf="coupons?.length > 0">
        <table class="table table-bordered w3-hoverable">
          <thead>
            <tr>
              <th>Coupon Name</th>
              <th>Amount</th>
              <th>Expiry Date</th>
              <th>Use Coupon</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coupon of coupons">
              <td>{{coupon.couponName}}</td>
              <td>{{coupon.couponPrice | currency: currency :true:'1.2-4'}}</td>
              <td>{{coupon.expiryDate | date}}</td>
              <td>
                <button class="w3-btn w3-theme" *ngIf="coupon.isUsed == false"
                  (click)="redeemCoupon(coupon.id)">Redeem</button>
                <span *ngIf="coupon.isUsed == true">
                  Already used
                </span>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->

  <div class="w3-col m12" *ngIf="coupons?.length > 0">
    <h4 class="w3-center">Coupons</h4>
    <hr class="hr-style" />
    <div class="w3-card-2 w3-round w3-white" *ngFor="let coupon of coupons" style="margin-bottom: 8px;">
      <div class="w3-container w3-padding ">
        <div class="w3-row">
          <div class="w3-col s3 m3">
            <span style="color: #3a8608;"><i class="fa fa-gift fa-4x"></i></span>
          </div>
          <div class="w3-col s9 m9">
            <h4>{{coupon.couponName}}</h4>
            <h5>{{coupon.couponPrice | currency: currency :true:'1.2-4'}}</h5>
          </div>
        </div>
        <hr />
        <div class="w3-row">
          <div class="w3-col w3-half" style="width: 50%">
            <span class="label-color">Expiry Date</span>
            <br />
            <span>{{coupon.expiryDate | date}}</span>
          </div>
          <div class="w3-col w3-half" style="width: 50%">
            <button class="w3-btn w3-theme" *ngIf="coupon.isUsed == false"
              (click)="redeemCoupon(coupon.id)" style="background-color: #3a8608 !important;">Redeem</button>
            <span *ngIf="coupon.isUsed == true" class="w3-tag w3-red">
              Already used
            </span>
          </div>

        </div>

        <hr />
        <!-- <div class="w3-row" style="width:100%;">

          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-theme" *ngIf="coupon.isUsed == false"
                (click)="redeemCoupon(coupon.id)">Redeem</button>
              <span *ngIf="coupon.isUsed == true">
                Already used
              </span>
            </div>
          </div>


        </div> -->

      </div>
    </div>
  </div>

</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
