:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

header{
  background-color:#3f51b5;
  color: white;
}

.news_cart{
  padding-left: 10% !important;
  padding-right: 10% !important;
}