<ngx-loading [show]="showSpinner" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div *ngIf="schoolInfo && schoolInfo.canteenopen; else canteenclosed">
    <div *ngIf="isNewsEmpty" class="w3-display-middle w3-xlarge">
        Welcome to School24. Tap here
        <a class="w3-large" (click)="showSidebar()" style="cursor: pointer;">
            <i class="fa fa-bars"></i>
        </a> to start ordering.
    </div>
    <div *ngIf="news?.length!=0" class="w3-center" style="padding-top:90px;">click on
        <a class="w3-large" (click)="showSidebar()" style="cursor: pointer;">
            <i class="fa fa-bars"></i>
        </a> to start ordering.</div>
</div>
<ng-template #canteenclosed>
    <h3 class="w3-center w3-text-red" style="padding-top:90px;">{{canteenClosedMessage}}</h3>
</ng-template>
<br />

<div *ngFor="let item of news">
    <div class="w3-card">
        <header class="w3-container">
            <h5>
                <strong>{{item.Subject}}</strong>
                <span class="w3-right">
                    <i class="fa fa-calendar"></i> Date: {{item.DateEntered | date}}</span>
            </h5>
        </header>

        <div class="w3-container">
            <p [innerHTML]="item.Description"></p>
        </div>
    </div>
    <br>
</div>