<div class="w3-container w3-center" style="padding:18%;">
  <div>
    <p class="w3-xxlarge">THANK YOU...!</p>
    <i class="fa fa-check-square-o w3-text-green" style="font-size:48px;"></i>
    <p class="w3-xlarge">{{message}}</p>
    <!-- <div class="w3-large">Please note your order Id's:
      <div *ngFor="let orderId of orderResult?.orderIds">
        {{orderId}}
      </div>
    </div> -->
    <p></p>
  </div>
</div>
