<div class="w3-container" style="padding-top:90px;">

    <div class="">
        <div class="w3-row">
            <div class="w3-third">
                <div class="w3-white w3-card-4 w3-round">
                    <div class="w3-container">
                        <h4 class="w3-center">{{event.eventName}}</h4>
                        <hr />
                        <p>
                            Event Date: {{event.eventDate | date}}
                        </p>
                        <p>
                            Booking closed on: {{event.orderingCloseDate | date}}
                        </p>
                        <p class="w3-center">
                            <button class="w3-btn btn theme-color" (click)="startOrder(event)" type="button">Start
                                Ordering</button>
                        </p>
                        <!-- <div class="" style="display: inline-block;">  
                            <div class="" style="width: 45px;height: 45px;" >
                                <i class="fa fa-calendar circle-icon" aria-hidden="true"></i>
                            </div>
                            <div style="color: #81b240;font-size: 20px;font-weight: 700;">Event Date
                            <br/>
                            {{event.eventDate | date}}
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="w3-twothird">
                <div class="w3-container">
                    <div class="w3-row-padding">
                        <div class="w3-white w3-card-4 w3-round">
                            <!--description-->
                            <div class="w3-container w3-padding" *ngIf="event?.description != null">
                                <h6 class="w3-opacity">Event Description</h6>
                                <div [innerHTML]="event?.description "><br></div>
                            </div>
                            <hr *ngIf="event?.description != null" />


                            <!--images-->
                            <div class="w3-row-padding" *ngIf="event?.images != null">
                                <div class="w3-container w3-padding">
                                    <h6 class="w3-opacity">Images</h6>
                                    <div *ngFor="let image of eventImages">
                                        <div class="w3-half w3-center" *ngIf="image">
                                            <img src="https://www.school24.net.au/school_events/menu/moreinfo/eventimages/{{image}}"
                                                style="width:200px;" alt="image not found" class="w3-margin-bottom">
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <hr />
                            </div>

                            <!--documents-->
                            <div class="w3-row-padding" *ngIf="event?.documents != null">
                                <div class="w3-container w3-padding">
                                    <h6 class="w3-opacity">Brochure/Documents</h6>
                                    <div class="w3-row-padding">
                                        <div *ngFor="let doc of eventDocuments">
                                            <div class="w3-half w3-center" *ngIf="doc">
                                                <p><a target="_blank"
                                                        href="https://www.school24.net.au/school_events/menu/moreinfo/eventdoc/{{doc}}"
                                                        class="w3-button w3-theme"
                                                        style="padding: 4px; border-radius: 4px;"> <i class="fa fa-file"
                                                            aria-hidden="true"></i>
                                                        {{doc}}
                                                    </a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>